@use "sass:math";
//utils
// @import "libs/nomilize";
@import "utils/utils-collection.scss";
@import "utils/mixin.scss";
@import "utils/vars.scss";
@import "utils/fonts.scss";
@import "utils/text-styles.scss";
@import "utils/slick.css";
@import "utils/def-slider.scss";
@import "utils/hystmodal.scss";
// main page
@import "sections/_header.scss";
@import "sections/_main.scss";
@import "sections/_about.scss";
@import "sections/_puppies.scss";
@import "sections/_gallery.scss";
@import "sections/_news.scss";
@import "sections/_movie.scss";
@import "sections/_partners.scss";
@import "sections/_footer.scss";
// pages

@import "pages/uhing.scss";
@import "pages/rules.scss";
@import "pages/documents.scss";
@import "pages/uudised.scss";
@import "pages/tulemused.scss";
@import "pages/kutsikad.scss";
@import "pages/enne.scss";
@import "pages/breeder.scss";
@import "pages/kasvatajad.scss";
@import "pages/toust.scss";
@import "pages/harrastused.scss";
@import "pages/kuulutus.scss";

body {
  overflow-y: auto;
  position: fixed;
  margin: 0;
}
button:hover,
button:focus {
  cursor: pointer;
}
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  &:not(.def-link) {
    text-decoration: inherit; /* no underline */
  }
  &:hover {
    color: inherit;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
input {
  font-family: $secondaryTextFont;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  padding-left: 20px;
  color: $fontColorPrimary;
  & > span {
    display: none;
  }
}
div.hidden {
  display: none;
}
.ibg {
  background-position: center;
  background-repeat: no-repeat;
  &--contain {
    background-size: contain;
  }
  &--cover {
    background-size: cover;
  }
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: $largeWidth) {
    width: $desktopWidth;
    margin: auto;
  }
  @media screen and (min-width: $desktopWidth) and (max-width: $largeWidth) {
    margin: 0 80px;
    width: 100%;
  }
  @media screen and (max-width: $desktopWidth) {
    width: 100%;
    margin: 0 80px;
  }
  @media screen and (max-width: $smDesktopWidth) {
    width: 100%;
    margin: 0 20px;
  }

  @media screen and (max-width: $tabletWidth) {
    width: 100%;
    margin: 0 40px;
  }

  @media screen and (max-width: $smTabletWidth) {
    width: 100%;
    margin: 20px;
  }
}
.page-content-wrapper {
  display: block;
  position: fixed;
  height: 100%;
  width: 100vw;
  left: 0;
  overflow-x: auto;
  scrollbar-width: auto;
  background-color: $background-color;
  &::-webkit-scrollbar {
    width: 15px;
    @media screen and (max-width: $phoneWidth) {
      width: 10px;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: $background-color;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #555;
    border: 3px solid transparent;
    border-radius: 5px;
    background-clip: content-box;
  }
}
.current-bread {
  color: $fontColorActive !important;
}
.section-wrapper {
  display: flex;
  width: 100%;
}
.section {
  // .section__title

  &__title {
    display: flex;
    margin-bottom: 70px;
    align-items: center;
    @media screen and (max-width: $phoneWidth) {
      margin-bottom: 50px;
    }
    &--mb35 {
      margin-bottom: 35px;
      margin-top: 15px;
    }
    &--mb {
      display: none;
      @media screen and (max-width: $smTabletWidth) {
        display: flex;
        align-items: center;
      }
    }
    &--mba {
      display: flex;
      @media screen and (max-width: $smTabletWidth) {
        display: none;
      }
    }
    &--part {
      align-self: baseline;
    }
  }

  // .section__icon

  &__icon {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    @media screen and (max-width: $smTabletWidth) {
      width: 30px;
      height: 30px;
      margin-right: 15px;
    }
  }

  // .section__text

  &__text {
    font-family: $secondaryTextFont;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    color: $fontColorPrimary;
  }
}

.border-wrap {
  z-index: -2;
  position: relative;
  background: linear-gradient(rgba(217, 217, 217, 0), rgba(0, 0, 0, 1));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.71);
  padding: 2px;
  border-radius: 10px;
}
.btn {
  border-radius: 8px;
  transition: all 0.5ms linear;
  &--red {
    background: $active-color;
    color: $fontColorPrimary;
    &:hover {
      transform: skew(-10deg);
    }
    &:active {
      background: $fontColorPrimary;
      color: $fontColorPrimaryInv;
    }
  }
  &--white {
    background: $fontColorPrimary;
    color: $fontColorPrimaryInv;
    &:hover {
      transform: skew(-10deg);
    }
    &:active {
      background: $active-color;
      color: $fontColorPrimary;
    }
  }
}
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  &__row {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__item {
    width: 100%;
    height: 100%;
    flex: 0 0 50%;
    background: linear-gradient(270deg, #3c3022 15.39%, #6f1d1b 100%);
    transform: matrix(-1, 0, 0, 1, 1, 0);
    border: none;
    &--rotate {
      rotate: 180deg;
    }
  }
  // .preloader__icon

  &__icon {
    position: absolute;
    aspect-ratio: 0.9;
    margin-top: -15px;
    @media screen and (min-width: $desktopWidth) {
      max-width: 387px;
    }
    @media screen and (max-width: $desktopWidth) {
      width: 25%;
    }
    @media screen and (max-width: $smDesktopWidth) {
      width: 30%;
    }
    @media screen and (max-width: $tabletWidth) {
      width: 40%;
    }
    @media screen and (max-width: $smTabletWidth) {
      width: 50%;
    }
    @media screen and (max-width: $phoneWidth) {
      width: 55%;
      margin-top: 0;
    }
    @media screen and (max-width: $smPhoneWidth) {
      max-width: 225px;
    }
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .preloader__title

  &__title {
    position: absolute;
    display: flex;
    align-items: center;
    top: 72%;
    @media screen and (max-width: $phoneWidth) {
      top: 67%;
    }
  }

  // .preloader__text

  &__text {
    text-align: center;
    margin: 0 20px;
    font-family: $primaryTextFont;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $fontColorPrimary;
    @media screen and (max-width: $phoneWidth) {
      text-transform: capitalize;
    }
  }
}
// @keyframes preloader-rotate {
//   100% {
//     transform: rotate(360deg);
//   }
// }

// @keyframes preloader-bounce {
//   0%,
//   100% {
//     transform: scale(0);
//   }

//   50% {
//     transform: scale(1);
//   }
// }

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
.def-modal {
  // .def-modal__outer-container

  &__outer-container {
  }

  // .def-modal__inner-container

  &__inner-container {
  }

  // .def-modal__wrapper

  &__wrapper {
  }

  // .def-modal__img

  &__img {
  }

  // .def-modal__info

  &__info {
  }

  // .def-modal__cross

  &__cross {
  }

  // .def-modal__content

  &__content {
  }

  // .def-modal__title

  &__title {
  }

  // .def-modal__title-text

  &__title-text {
  }

  // .def-modal__aviso

  &__aviso {
  }

  // .def-modal__aviso-text

  &__aviso-text {
  }
}
.modal-bg {
}
.modal-window {
}
.modal-cross {
}
