<%- include('./incl/header.html')%>
    <div id="info" data-current-page-id="tulemused-a"></div>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/tulemused.jpg" alt="uhing">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">tulemused</h1>
            <p class="def-container__text text--MS">
                Kuhu minna labradoriga ?
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">tulemused</h1>
                <p class="def-container__text text--MS">
                    Kuhu minna labradoriga ?
                </p>
                <span class="uudised-filter"></span>
            </div>
            <div id="tulemused"></div>
            <%- include('./incl/main-nav.html')%>
                <section class="page-content">
                    <div class="filter__wrap filter__wrap--34">
                        <div class="filter__title">
                            <h5>category Filter</h5>
                        </div>
                        <div class="filter__link">
                            <a href="../tulemused.html#tulemused">Näituse tulemused</a>
                        </div>
                        <div class="filter__link">
                            <a href="../katsete.html#tulemused">Katsete tulemused</a>
                        </div>
                        <div class="filter__link currentLink">
                            <a href="../aasta.html#tulemused">Aasta Koer</a>
                        </div>
                    </div>
                    <section class="uudis__wrap uudis__wrap--aasta">
                        <div class="uudis__item">
                            <div class="uudis__img ibg ibg--contain ">
                                <img src="../assets/img/icons/medal.png" alt="">
                            </div>
                            <div class="uudis__info">
                                <h3 class="uudis__title text--XL">
                                    Aasta koer
                                </h3>
                                <div class="uudis__img--mob ibg ibg--contain ">
                                    <img src="../assets/img/icons/medal.png" alt="">
                                </div>
                                <p class="uudis__text text--MS">
                                    ELRÜ Aasta Koera konkursi eesmärgiks on tunnustada näituste, tõuomaste katsete ja
                                    töökatsete valdkondade parimaid
                                    labradori retriivereid.
                                </p>
                                <p class="uudis__text text--MS">
                                    Konkursil võivad osaleda labradori retriiveri tõugu koerad, kelle tulemused on
                                    saadud EST-registris olles ja kelle
                                    vähemalt üks omanik on ELRÜ liige. Arvesse lähevad nii Eestis kui ka teistes FCI
                                    riikides arvestusperioodi jooksul
                                    toimunud näitustel, ametlikel katsetel, võistlustel ja eksamitel saavutatud
                                    tulemused. Igas võistluskategoorias läheb
                                    arvesse kuni 6 parimat tulemust ning üks koer saab osaleda mitmes võistlusklassis.
                                </p>
                            </div>
                        </div>
                        <div class="uudis__content">
                            <p class="uudis__text text--MS">
                                Aasta kasvataja punktiarvestuses võetakse arvesse kenneli kuni 5 kasvandiku tulemusi,
                                olenemata sellest, kes on koera
                                omanik, ning kuni 6 tulemust koera kohta. Täiendavalt on lisapunkte võimalik saada
                                näitusel tõu parima kasvataja auhinna
                                eest.
                            </p>
                            <p class="uudis__text text--MS">
                                Eestis saadud tulemuste arvestust peab ELRÜ automaatselt vastavalt EKL näituste ning
                                katsete ja jahikatsete andmebaasis
                                esitatud tulemustele. Teistes FCI riikides saadud tulemuste puhul automaatset arvestust
                                ei toimu, vaid koera omanik peab
                                esitama kirjelduslehe koopia.
                            </p>
                            <p class="uudis__text text--MS">
                                Olulised sammud
                            </p>
                            <div class="uudis__text text--MS">
                                <ul class="uudis__list uudis__text text--MS">
                                    <li class="uudis__list-text text--MS">
                                        Konkursil osalemiseks peab koera omanik esitama avalduse.
                                    </li>
                                    <li class="uudis__list-text text--MS">
                                        Koera omanik kontrollib oma koera Eestis saadud tulemuste punktide arvestust.
                                        Juhul, kui koera tulemus puudub eelpool
                                        tootud tabelist või on vigane, esitab omanik konkreetse tulemuse kirjelduslehe
                                        koopia.
                                    </li>
                                    <li class="uudis__list-text text--MS">
                                        Teistes FCI riikides saadud tulemuste puhul esitab omanik kirjelduslehe koopia.
                                    </li>
                                    <li class="uudis__list-text text--MS">
                                        Avaldus ja lisadokumendid tuleb esitada ELRÜ juhatuse e-maili aadressil:
                                        juhatus@labrador.ee või posti teel Ihita tee 3,
                                        Kaberneeme küla, Jõelähtme vald, 74211 Harjumaa. Dokumentide esitamistähtajaks
                                        on arvestusperioodile järgneva aasta
                                        1.märts.
                                    </li>
                                </ul>
                            </div>
                            <p class="uudis__text text--MS">
                                Autasustamine
                            </p>
                            <p class="uudis__text text--MS">
                                Aasta parimad kuulutatakse välja hiljemalt arvestusperioodile järgneva aasta 31.märtsiks
                                ning avaldatakse ELRÜ
                                kodulehel
                                ning Facebooki lehel.
                            </p>
                            <p class="uudis__text text--MS">
                                Iga võistlusklassi parimat autasustatakse karikaga. Autasustamine toimub ELRÜ näitusel.
                            </p>
                            <p class="uudis__text text--MS">
                                Aasta Koera konkursi täpsemad tingimused ja punktitabelid on toodud ELRÜ Aasta Koera
                                statuudis.
                            </p>
                        </div>
                        <div class="uudis__item">
                            <div class="assta">
                                <div class="aasta__wrap">
                                    <div class="aasta__date">
                                        <span>2017</span>
                                    </div>
                                    <div class="aasta__envelopes">
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta beebi</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">Royal Brown I Aint Your Mama</p>
                                            </div>
                                        </div>
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">United Dreams Rammstein</p>
                                            </div>
                                        </div>
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta juuniorkoer</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">My Brand Last Minute Delivery</p>
                                            </div>
                                        </div>
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta veterankoer</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">Gilbron Pride One Sweet Bon-Bon</p>
                                            </div>
                                        </div>
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta koer</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">Norbon Hill Enigma</p>
                                            </div>
                                        </div>
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta töökoer</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">Norbon Hill Enigma</p>
                                            </div>
                                        </div>
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta harrastuskoer</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">Karankawa Micco</p>
                                            </div>
                                        </div>
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta kasvataja</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">Kennel Norbon Hill</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="aasta__wrap">
                                    <div class="aasta__date">
                                        <span>2017</span>
                                    </div>
                                    <div class="aasta__envelopes">
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta beebi</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">Royal Brown I Aint Your Mama</p>
                                            </div>
                                        </div>
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">United Dreams Rammstein</p>
                                            </div>
                                        </div>
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta juuniorkoer</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">My Brand Last Minute Delivery</p>
                                            </div>
                                        </div>
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta veterankoer</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">Gilbron Pride One Sweet Bon-Bon</p>
                                            </div>
                                        </div>
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta koer</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">Norbon Hill Enigma</p>
                                            </div>
                                        </div>
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta töökoer</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">Norbon Hill Enigma</p>
                                            </div>
                                        </div>
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta harrastuskoer</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">Karankawa Micco</p>
                                            </div>
                                        </div>
                                        <div class="aasta__envelope">
                                            <img class="envelope__img" src="../assets/img/icons/envelope.png" alt="">
                                            <div class="envelope__year text--MS">
                                                <span>2017</span>
                                            </div>
                                            <div class="envelope__rate">
                                                <p class="rate-text text--MS">Aasta kasvataja</p>
                                            </div>
                                            <div class="envelope__name">
                                                <p class="name-text text--MS">Kennel Norbon Hill</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
        </div>

    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>