<%- include('./incl/header.html')%>
    <div id="info" data-current-page-id="kutsikad-a"></div>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/kutsikad.jpg" alt="kutsikad">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Kutsikad</h1>
            <p class="def-container__text text--MS">
                Kodulehel avaldatakse vaid ELRÜ liikmete nimekirjas olevate kasvatajate pesakondi ja kelle vanemad
                vastavad ELRÜ aretusreeglitele
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">Kutsikad</h1>
                <p class="def-container__text text--MS">
                    Kodulehel avaldatakse vaid ELRÜ liikmete nimekirjas olevate kasvatajate pesakondi ja kelle vanemad
                    vastavad ELRÜ aretusreeglitele
                </p>
                <span class="uudised-filter"></span>
            </div>
            <div id="kutsikad"></div>
            <%- include('./incl/main-nav.html')%>
                <section class="page-content">
                    <div class="kutsikad__wrap">
                        <div class="kutsikad__item">
                            <div class="filter__wrap filter__wrap--34">
                                <div class="filter__title">
                                    <h5>category Filter</h5>
                                </div>
                                <div class="filter__kuts">
                                    <div class="accordion">
                                        <div>
                                            <div class="kuts__dropdownlink" aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../kutsikad.html#kutsikad">
                                                        Sündinud
                                                    </a>
                                                </div>
                                                <svg class="kuts__accordion-arrow">
                                                    <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                                </svg>
                                            </div>
                                            <ul class="kuts__submenuItems">
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink" aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../enne.html#kutsikad">
                                                        Enne kutsika võtmist
                                                    </a>
                                                </div>
                                            </div>
                                            <ul class="kuts__submenuItems">

                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink " aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../kasvatajad.html#kutsikad">
                                                        Kasvatajad
                                                    </a>
                                                </div>

                                            </div>
                                            <ul class="kuts__submenuItems">

                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink active" aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../aretusreeglid.html#kutsikad">
                                                        Aretusreeglid
                                                    </a>
                                                </div>

                                            </div>
                                            <ul class="kuts__submenuItems">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <section class="uudis__wrap uudis__wrap--aasta">
                                <div class="uudis__item">
                                    <div class="uudis__img ibg ibg--contain ">
                                        <img src="../assets/img/icons/aretusreeglid.png" alt="">
                                    </div>
                                    <div class="uudis__info">
                                        <h3 class="uudis__title text--XL">
                                            Aretusreeglid
                                        </h3>
                                        <div class="uudis__img--mob ibg ibg--contain ">
                                            <img src="../assets/img/icons/aretusreeglid.png" alt="">
                                        </div>
                                        <p class="uudis__text text--MS">
                                            Aretuse erinõuded labradori retriiveri tõugu koertele (vastu võetud ELRÜ asutamiskoosolekul 22.06.2014):
                                        </p>
                                        <div class="uudis__text text--MS">
                                            <ul class="uudis__list--disc uudis__text text--MS">
                                                <li class="uudis__list-text text--MS">
                                                    Puusaliigeste düsplaasiauuringu tulemus: A, B või C.
                                                </li>
                                                <li class="uudis__list-text text--MS">
                                                    Küünarliigeste düsplaasiauuringu tulemus: 0 või 1.
                                                </li>
                                                <li class="uudis__list-text text--MS">
                                                    Silmauuringu tulemus: ei esine HC, RD ja PRA (uuring ei või olla paarituse hetkel olla vanem kui 2 aastat).
                                                </li>
                                                <li class="uudis__list-text text--MS">
                                                    Näitusehinne mõlemal vanemal näituselt: vähemalt hinne “VH” (kahelt erinevalt kohtunikult, vähemalt üks hinnetest tõu
                                                    erinäituselt või rahvusvaheliselt näituselt), kutsikaklassis saadud hindeid ei arvestata.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="uudis__content">
                                    <p class="uudis__text text--MS">
                                        Nõuded peavad olema täidetud enne paaritamist. Düsplaasiauuringute teostamisel tuleb lähtuda EKL koerte liigeste
                                        düsplaasiauuringute teostamise korrast.
                                    </p>
                                    <p class="uudis__text text--MS">
                                        Lisaks tuleb aretuses lähtuda ka EKL-i tõuraamatu määrusest, mille kohaselt:
                                    </p>
                                    <div class="uudis__text text--MS">
                                        <ul class="uudis__list--disc uudis__text text--MS">
                                            <li class="uudis__list-text text--MS">
                                                Aretuses tohib kasutada emaskoeri vanuses 18. elukuust kuni 9- aastaseks saamiseni. Isaskoeri võib aretuses kasutada
                                                alates 10. elukuust.
                                            </li>
                                            <li class="uudis__list-text text--MS">
                                                Emaskoera võib uuesti paaritada, kui eelmine pesakond on vähemalt 8 kuud vana.
                                            </li>
                                            <li class="uudis__list-text text--MS">
                                                Sama vanemate kombinatsiooni võib aretuses kasutada kuni kolm korda.
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="uudis__text text--MS">
                                        Labradori retriiverite aretuse programmi 2009-2013 kohaselt:
                                    </p>
                                    <div class="uudis__text text--MS">
                                        <ul class="uudis__list--disc uudis__text text--MS">
                                            <li class="uudis__list-text text--MS">
                                                Aretuses ei soovitata kasutada koera, kellel on diagnoositud ristsidemete katkemine, liigeste arenguhäireid või muid
                                                liigesehaigusi.
                                            </li>
                                            <li class="uudis__list-text text--MS">
                                                Aretuses tuleb eelistada koeri, kellel pole probleeme ei paarumisel ega poegimisel.
                                            </li>
                                            <li class="uudis__list-text text--MS">
                                                Vältima peab moeisaste ülekasutamist. Ühe koera järglaste arv ei tohiks ületada 10% kahel järjestikusel aastal või 5%
                                                neljal järjestikusel aastal sündinud kutsikate arvust.
                                            </li>
                                            <li class="uudis__list-text text--MS">
                                                Koeri, kes on väga allergilised või kellel on korduvaid põletikke, ei tohiks paaritada omavahel, vaid neid peaks
                                                paaritama koertega, kellel ei ole sarnaseid probleeme.
                                            </li>
                                            <li class="uudis__list-text text--MS">
                                                Aretuses taunitakse argade ja agressiivsete koerte kasutamist.
                                            </li>
                                            <li class="uudis__list-text text--MS">
                                                Säilitada ja suurendada labradoride osalemisaktiivsust tõu- ning töökatsetel.
                                            </li>
                                            <li class="uudis__list-text text--MS">
                                                Vältida välimikus äärmuslike omaduste rõhutamist ja aretamist.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="uudis__item">
                                    <div class="uudis__img-f ibg ibg--cover">
                                        <img src="../assets/img/aret1.jpg" alt="">
                                    </div>
                                    <div class="uudis__img-f ibg ibg--cover">
                                        <img src="../assets/img/aret2.jpg" alt="">
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
        </div>
    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>