<%- include('./incl/header.html')%>
    <div id="info" data-current-page-id="kutsikad-a"></div>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/kutsikad.jpg" alt="kutsikad">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Kutsikad</h1>
            <p class="def-container__text text--MS">
                Kodulehel avaldatakse vaid ELRÜ liikmete nimekirjas olevate kasvatajate pesakondi ja kelle vanemad
                vastavad ELRÜ aretusreeglitele
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">Kutsikad</h1>
                <p class="def-container__text text--MS">
                    Kodulehel avaldatakse vaid ELRÜ liikmete nimekirjas olevate kasvatajate pesakondi ja kelle vanemad
                    vastavad ELRÜ aretusreeglitele
                </p>
                <span class="uudised-filter"></span>
            </div>
            <div id="kutsikad"></div>
            <%- include('./incl/main-nav.html')%>
                <section class="page-content">
                    <div class="kutsikad__wrap">
                        <div class="kutsikad__item">
                            <div class="filter__wrap filter__wrap--34">
                                <div class="filter__title">
                                    <h5 class="brcontent-item__title">category Filter</h5>
                                </div>
                                <div class="filter__kuts">
                                    <div class="accordion">
                                        <div>
                                            <div class="kuts__dropdownlink" aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../kutsikad.html#kutsikad">
                                                        Sündinud
                                                    </a>
                                                </div>
                                                <svg class="kuts__accordion-arrow">
                                                    <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                                </svg>
                                            </div>
                                            <ul class="kuts__submenuItems">
                                                <li class="kuts__submenuItems-link active">
                                                    <a id="name1" href="../breeders.html">
                                                        Breeder's name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name2" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name3" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name4" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name5" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name6" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink " aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../enne.html#kutsikad">
                                                        Enne kutsika võtmist
                                                    </a>
                                                </div>

                                            </div>
                                            <ul class="kuts__submenuItems">

                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink " aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../kasvatajad.html#kutsikad">
                                                        Kasvatajad
                                                    </a>
                                                </div>

                                            </div>
                                            <ul class="kuts__submenuItems">

                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink " aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../aretusreeglid.html#kutsikad">
                                                        Aretusreeglid
                                                    </a>
                                                </div>
                                            </div>
                                            <ul class="kuts__submenuItems">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <section class="uudis__wrap uudis__wrap--breeders">
                                <section class="breeders__wrap">
                                    <div class="breeders__item">
                                        <div class="breeders__img-wrap">
                                            <div class="breeders__img">
                                                <img src="../assets/img/breeders.jpg" alt="">
                                            </div>
                                            <div class="breeders__content breeders__content--tab">
                                                <div class="brcontent-item brcontent-item--anchor">
                                                    <div class="brcontent-item__title-wrap">
                                                        <h5 class="brcontent-item__title">Lisainfo pesakonna ja/või
                                                            kenneli kohta</h5>
                                                    </div>
                                                    <div class="brcontent-item__text-wrap">
                                                        <p class="brcontent-item__text">
                                                            Kutsikad kasvavad koos meie pere laste, teiste koerte ja
                                                            kassiga. Nii ema kui ka kutsikaid toidame
                                                            võimalikult
                                                            naturaalse toiduga ning kutsikad saavad viibida palju õues.
                                                            Kutsikad saavad kaasa EKL tõutunnistuse, EU
                                                            veterinaarpassi,
                                                            EKL ostu-müügilepingu ja kirjaliku iseloomutesti tulemuse.
                                                            Loovutusajaks on kutsikad märgistatud
                                                            mikrokiibiga ja
                                                            loomaarsti poolt üle vaadatud. Vaktsineerimine toimub
                                                            eakohaselt. Kaasa anname kutsikapaketi, mis
                                                            sisaldab
                                                            toitmisjuhendit, toidu alustuspakki, mänguasju ja muud. Meie
                                                            kasvandikud on alati oodatud kennelradadele
                                                            jalutama ning
                                                            kutsikaomanikele on olemas oma Facebooki grupp. Võimalus
                                                            osaleda kasvataja treeningutel.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="breeders__content">
                                            <div class="breeders__title-wrap">
                                                <h2 class="breeders__title text--XL">Breeder's name</h2>
                                            </div>
                                            <div class="breeders__img--mob">
                                                <img src="../assets/img/breeders.jpg" alt="">
                                            </div>
                                            <div class="breeders__content-item">
                                                <div class="brcontent-item__wrap">
                                                    <div class="brcontent-item content-item--sp">
                                                        <div class="brcontent-item__title-wrap">
                                                            <h5 class="brcontent-item__title">Kasvataja</h5>
                                                        </div>
                                                        <div class="brcontent-item__text-wrap">
                                                            <p class="brcontent-item__text">Reeli Kuhi-Thalfeldt ja
                                                                Maarika Lauringson</p>
                                                        </div>
                                                    </div>
                                                    <div class="brcontent-item">
                                                        <div class="brcontent-item__title-wrap">
                                                            <h5 class="brcontent-item__title">Pesakonna sünniaeg</h5>
                                                        </div>
                                                        <div class="brcontent-item__text-wrap">
                                                            <p class="brcontent-item__text">15.03.2022</p>
                                                        </div>
                                                    </div>
                                                    <div class="brcontent-item">
                                                        <div class="brcontent-item__title-wrap">
                                                            <h5 class="brcontent-item__title">Pesakonna loovutusaeg</h5>
                                                        </div>
                                                        <div class="brcontent-item__text-wrap">
                                                            <p class="brcontent-item__text">Mai keskpaik</p>
                                                        </div>
                                                    </div>
                                                    <div class="brcontent-item content-item--tab">
                                                        <div class="brcontent-item__title-wrap">
                                                            <h5 class="brcontent-item__title">Kutsikate arv (sugu ja
                                                                värvus)</h5>
                                                        </div>
                                                        <div class="brcontent-item__text-wrap">
                                                            <p class="brcontent-item__text">1 pruun isane ja 3 pruuni
                                                                emast</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="brcontent-item__wrap">
                                                    <div class="brcontent-item">
                                                        <div class="brcontent-item__title-wrap">
                                                            <h5 class="brcontent-item__title">Asukoht/Aadress</h5>
                                                        </div>
                                                        <div class="brcontent-item__text-wrap">
                                                            <p class="brcontent-item__text">Haapsalu, Läänemaa</p>
                                                        </div>
                                                    </div>
                                                    <div class="brcontent-item">
                                                        <div class="brcontent-item__title-wrap">
                                                            <h5 class="brcontent-item__title">Kontakttelefon</h5>
                                                        </div>
                                                        <div class="brcontent-item__text-wrap">
                                                            <a href="tel:+3725186241" class="brcontent-item__text">+372 5186241</a>
                                                        </div>
                                                    </div>
                                                    <div class="brcontent-item">
                                                        <div class="brcontent-item__title-wrap">
                                                            <h5 class="brcontent-item__title">E-mail</h5>
                                                        </div>
                                                        <div class="brcontent-item__text-wrap">
                                                            <a href="mailto:reeli.kuhithalfeldt@gmail.com" class="brcontent-item__text">reeli.kuhithalfeldt@gmail.com
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="brcontent-item">
                                                        <div class="brcontent-item__title-wrap">
                                                            <h5 class="brcontent-item__title">Kodulehekülg</h5>
                                                        </div>
                                                        <div class="brcontent-item__text-wrap">
                                                            <a href="https://kennelforestfan.weebly.com" class="brcontent-item__text">kennelforestfan.weebly.com</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="breeders__content-item breeders__content-item--tab">
                                                <div class="brcontent-item__wrap">
                                                    <div class="brcontent-item">
                                                        <div class="brcontent-item__title-wrap">
                                                            <h5 class="brcontent-item__title">Kutsikate arv (sugu ja
                                                                värvus)</h5>
                                                        </div>
                                                        <div class="brcontent-item__text-wrap">
                                                            <p class="brcontent-item__text">1 pruun isane ja 3 pruuni
                                                                emast</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="breeders__item breeders__item--tab">
                                        <div class="breeders__content">
                                            <div class="brcontent-item brcontent-item--anchor">
                                                <div class="brcontent-item__title-wrap">
                                                    <h5 class="brcontent-item__title">Lisainfo pesakonna ja/või kenneli
                                                        kohta</h5>
                                                </div>
                                                <div class="brcontent-item__text-wrap">
                                                    <p class="brcontent-item__text">
                                                        Kutsikad kasvavad koos meie pere laste, teiste koerte ja
                                                        kassiga. Nii ema kui ka kutsikaid toidame võimalikult
                                                        naturaalse toiduga ning kutsikad saavad viibida palju õues.
                                                        Kutsikad saavad kaasa EKL tõutunnistuse, EU veterinaarpassi,
                                                        EKL ostu-müügilepingu ja kirjaliku iseloomutesti tulemuse.
                                                        Loovutusajaks on kutsikad märgistatud mikrokiibiga ja
                                                        loomaarsti poolt üle vaadatud. Vaktsineerimine toimub
                                                        eakohaselt. Kaasa anname kutsikapaketi, mis sisaldab
                                                        toitmisjuhendit, toidu alustuspakki, mänguasju ja muud. Meie
                                                        kasvandikud on alati oodatud kennelradadele jalutama ning
                                                        kutsikaomanikele on olemas oma Facebooki grupp. Võimalus osaleda
                                                        kasvataja treeningutel.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </section>
                        </div>
                    </div>
                </section>
        </div>
    </section>
    <div class="breeders-slider">
        <div class="breeders-slider__slide">
            <div class="breeders-slider__image ibg ibg--cover">
                <img src="../assets/img/breeders1.jpg" alt="" class="breeders-slider__img">
            </div>
        </div>
        <div class="breeders-slider__slide">
            <div class="breeders-slider__image ibg ibg--cover">
                <img src="../assets/img/breeders2.jpg" alt="" class="breeders-slider__img">
            </div>
        </div>
        <div class="breeders-slider__slide">
            <div class="breeders-slider__image ibg ibg--cover">
                <img src="../assets/img/breeders3.jpg" alt="" class="breeders-slider__img">
            </div>
        </div>
        <div class="breeders-slider__slide">
            <div class="breeders-slider__image ibg ibg--cover">
                <img src="../assets/img/breeders4.jpg" alt="" class="breeders-slider__img">
            </div>
        </div>
        <div class="breeders-slider__slide">
            <div class="breeders-slider__image ibg ibg--cover">
                <img src="../assets/img/breeders1.jpg" alt="" class="breeders-slider__img">
            </div>
        </div>
        <div class="breeders-slider__slide">
            <div class="breeders-slider__image ibg ibg--cover">
                <img src="../assets/img/breeders2.jpg" alt="" class="breeders-slider__img">
            </div>
        </div>
        <div class="breeders-slider__slide">
            <div class="breeders-slider__image ibg ibg--cover">
                <img src="../assets/img/breeders3.jpg" alt="" class="breeders-slider__img">
            </div>
        </div>
        <div class="breeders-slider__slide">
            <div class="breeders-slider__image ibg ibg--cover">
                <img src="../assets/img/breeders4.jpg" alt="" class="breeders-slider__img">
            </div>
        </div>
        <div class="breeders-slider__slide">
            <div class="breeders-slider__image ibg ibg--cover">
                <img src="../assets/img/breeders1.jpg" alt="" class="breeders-slider__img">
            </div>
        </div>
        <div class="breeders-slider__slide">
            <div class="breeders-slider__image ibg ibg--cover">
                <img src="../assets/img/breeders2.jpg" alt="" class="breeders-slider__img">
            </div>
        </div>
    </div>
    <section class="breeders-parents__wrap">
        <div class="breeders-parents">
            <div class="parents__item">
                <div class="parents__title-wrap">
                    <h4 class="parents__title text--L">
                        PESAKONNA ISA ANDMED
                    </h4>
                </div>
                <div class="parents__img-wrap">
                    <img src="../assets/img/breeders.jpg" alt="" class="parents__img">
                </div>
                <div class="breeders__content-item">
                    <div class="brcontent-item__wrap">
                        <div class="brcontent-item">
                            <div class="brcontent-item__title-wrap">
                                <h5 class="brcontent-item__title">
                                    Nimi ja tiitlid
                                </h5>
                            </div>
                            <div class="brcontent-item__text-wrap">
                                <p class="brcontent-item__text">
                                    Norbon Hill Double Action EST LVA LTU BALT JCH EST LVA CH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breeders__content-item">
                    <div class="brcontent-item__wrap">
                        <div class="brcontent-item">
                            <div class="brcontent-item__title-wrap">
                                <h5 class="brcontent-item__title">
                                    Vanemad
                                </h5>
                            </div>
                            <div class="brcontent-item__text-wrap">
                                <p class="brcontent-item__text">
                                    CH Stenveyz Get Popular x CH Gilbron Pride One Sweet Bon-Bon
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breeders__content-item">
                    <div class="brcontent-item__wrap">
                        <div class="brcontent-item">
                            <div class="brcontent-item__title-wrap">
                                <h5 class="brcontent-item__title">
                                    Düsplaasia- ning silmauuringu tulemused
                                </h5>
                            </div>
                            <div class="brcontent-item__text-wrap">
                                <p class="brcontent-item__text">
                                    Puusaliigesed A/A, küünarliigesed 0/0, pärilike silmahaiguste uuring: puhas
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breeders__content-item">
                    <div class="brcontent-item__wrap">
                        <div class="brcontent-item">
                            <div class="brcontent-item__title-wrap">
                                <h5 class="brcontent-item__title">
                                    Geenitestide tulemused
                                </h5>
                            </div>
                            <div class="brcontent-item__text-wrap">
                                <p class="brcontent-item__text">
                                    EIC: puhas
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breeders__content-item">
                    <div class="brcontent-item__wrap">
                        <div class="brcontent-item">
                            <div class="brcontent-item__title-wrap">
                                <h5 class="brcontent-item__title">
                                    Katsete tulemused
                                </h5>
                            </div>
                            <div class="brcontent-item__text-wrap">
                                <p class="brcontent-item__text">
                                    Sooritatud retriiverite tõukatse
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parents__content">
                    <div class="brcontent-item brcontent-item--anchor">
                        <div class="brcontent-item__title-wrap">
                            <h5 class="brcontent-item__title">
                                Foto veebiaadress
                            </h5>
                        </div>
                        <div class="brcontent-item__text-wrap">
                            <a href="https://photos.google.com/share/AF1QipO3PyDi-IkQnWhLGY957QvrIGqMybJqtth9YtLyhVqexhuqn0vH3IqstjN_fpyIqA?key=ZV9aRTBNOGRkRGZpWUg0aFlVT3k2dE1kVEs2SnhR" class="brcontent-item__text">
                                https://photos.google.com/share/AF1QipO3PyDi-IkQnWhLGY957QvrIGqMybJqtth9YtLyhVqexhuqn0vH3IqstjN_fpyIqA?key=ZV9aRTBNOGRkRGZpWUg0aFlVT3k2dE1kVEs2SnhR
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parents__item">
                <div class="parents__title-wrap">
                    <h4 class="parents__title text--L">
                        PESAKONNA EMA ANDMED
                    </h4>

                </div>
                <div class="parents__img-wrap">
                    <img src="../assets/img/breeders.jpg" alt="" class="parents__img">
                </div>
                <div class="breeders__content-item">
                    <div class="brcontent-item__wrap">
                        <div class="brcontent-item">
                            <div class="brcontent-item__title-wrap">
                                <h5 class="brcontent-item__title">
                                    Nimi ja tiitlid
                                </h5>
                            </div>
                            <div class="brcontent-item__text-wrap">
                                <p class="brcontent-item__text">
                                    Andromeda Athemi EST LVA LTU BALT JCH EST CH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breeders__content-item">
                    <div class="brcontent-item__wrap">
                        <div class="brcontent-item">
                            <div class="brcontent-item__title-wrap">
                                <h5 class="brcontent-item__title">
                                    Vanemad
                                </h5>
                            </div>
                            <div class="brcontent-item__text-wrap">
                                <p class="brcontent-item__text">
                                    CH Cedarwood Play Mor So Much Mor x CH Atena Z Grodu Hrabiego Malmesbury
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breeders__content-item">
                    <div class="brcontent-item__wrap">
                        <div class="brcontent-item">
                            <div class="brcontent-item__title-wrap">
                                <h5 class="brcontent-item__title">
                                    Düsplaasia- ning silmauuringu tulemused
                                </h5>
                            </div>
                            <div class="brcontent-item__text-wrap">
                                <p class="brcontent-item__text">
                                    Puusaliigesed A/A, küünarliigesed 0/0, pärilike silmahaiguste uuring: puhas
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breeders__content-item">
                    <div class="brcontent-item__wrap">
                        <div class="brcontent-item">
                            <div class="brcontent-item__title-wrap">
                                <h5 class="brcontent-item__title">
                                    Geenitestide tulemused
                                </h5>
                            </div>
                            <div class="brcontent-item__text-wrap">
                                <p class="brcontent-item__text">
                                    PRA; CNM & HNPK puhas, EIC kandja
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breeders__content-item">
                    <div class="brcontent-item__wrap">
                        <div class="brcontent-item">
                            <div class="brcontent-item__title-wrap">
                                <h5 class="brcontent-item__title">
                                    Katsete tulemused
                                </h5>
                            </div>
                            <div class="brcontent-item__text-wrap">
                                <p class="brcontent-item__text">
                                    Sooritatud retriiverite tõukatse
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parents__content">
                    <div class="brcontent-item brcontent-item--anchor">
                        <div class="brcontent-item__title-wrap">
                            <h5 class="brcontent-item__title">
                                Foto veebiaadress
                            </h5>
                        </div>
                        <div class="brcontent-item__text-wrap">
                            <a href="https://photos.app.goo.gl/twFG1ZsnD3998P7e8" class="brcontent-item__text">
                                https://photos.app.goo.gl/twFG1ZsnD3998P7e8
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-parents">
                <div class="accordion-parents__item">
                    <div class="parents__dropdownlink" aria-hidden="true">
                        <div class="parents__accordeon-header">
                            <h4 class="parents__title text--M">
                                PESAKONNA ISA ANDMED
                            </h4>
                        </div>
                        <svg class="parents__accordion-arrow">
                            <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                        </svg>
                    </div>
                    <ul class="parents__submenuItems">
                        <div class="parents__img-wrap">
                            <img src="../assets/img/breeders.jpg" alt="" class="parents__img">
                        </div>
                        <div class="breeders__content-item">
                            <div class="brcontent-item__wrap">
                                <div class="brcontent-item">
                                    <div class="brcontent-item__title-wrap">
                                        <h5 class="brcontent-item__title">
                                            Nimi ja tiitlid
                                        </h5>
                                    </div>
                                    <div class="brcontent-item__text-wrap">
                                        <p class="brcontent-item__text">
                                            Andromeda Athemi EST LVA LTU BALT JCH EST CH
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="breeders__content-item">
                            <div class="brcontent-item__wrap">
                                <div class="brcontent-item">
                                    <div class="brcontent-item__title-wrap">
                                        <h5 class="brcontent-item__title">
                                            Vanemad
                                        </h5>
                                    </div>
                                    <div class="brcontent-item__text-wrap">
                                        <p class="brcontent-item__text">
                                            CH Cedarwood Play Mor So Much Mor x CH Atena Z Grodu Hrabiego Malmesbury
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="breeders__content-item">
                            <div class="brcontent-item__wrap">
                                <div class="brcontent-item">
                                    <div class="brcontent-item__title-wrap">
                                        <h5 class="brcontent-item__title">
                                            Düsplaasia- ning silmauuringu tulemused
                                        </h5>
                                    </div>
                                    <div class="brcontent-item__text-wrap">
                                        <p class="brcontent-item__text">
                                            Puusaliigesed A/A, küünarliigesed 0/0, pärilike silmahaiguste uuring: puhas
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="breeders__content-item">
                            <div class="brcontent-item__wrap">
                                <div class="brcontent-item">
                                    <div class="brcontent-item__title-wrap">
                                        <h5 class="brcontent-item__title">
                                            Geenitestide tulemused
                                        </h5>
                                    </div>
                                    <div class="brcontent-item__text-wrap">
                                        <p class="brcontent-item__text">
                                            PRA; CNM & HNPK puhas, EIC kandja
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="breeders__content-item">
                            <div class="brcontent-item__wrap">
                                <div class="brcontent-item">
                                    <div class="brcontent-item__title-wrap">
                                        <h5 class="brcontent-item__title">
                                            Katsete tulemused
                                        </h5>
                                    </div>
                                    <div class="brcontent-item__text-wrap">
                                        <p class="brcontent-item__text">
                                            Sooritatud retriiverite tõukatse
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="parents__content">
                            <div class="brcontent-item brcontent-item--anchor">
                                <div class="brcontent-item__title-wrap">
                                    <h5 class="brcontent-item__title">
                                        Foto veebiaadress
                                    </h5>
                                </div>
                                <div class="brcontent-item__text-wrap">
                                    <a href="https://photos.app.goo.gl/twFG1ZsnD3998P7e8" class="brcontent-item__text">
                                        https://photos.app.goo.gl/twFG1ZsnD3998P7e8
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="accordion-parents__item">
                    <div class="parents__dropdownlink" aria-hidden="true">
                        <div class="parents__accordeon-header">
                            <h4 class="parents__title text--M">
                                PESAKONNA EMA ANDMED
                            </h4>
                        </div>
                        <svg class="parents__accordion-arrow">
                            <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                        </svg>
                    </div>
                    <ul class="parents__submenuItems">
                        <div class="parents__img-wrap">
                            <img src="../assets/img/breeders.jpg" alt="" class="parents__img">
                        </div>
                        <div class="breeders__content-item">
                            <div class="brcontent-item__wrap">
                                <div class="brcontent-item">
                                    <div class="brcontent-item__title-wrap">
                                        <h5 class="brcontent-item__title">
                                            Nimi ja tiitlid
                                        </h5>
                                    </div>
                                    <div class="brcontent-item__text-wrap">
                                        <p class="brcontent-item__text">
                                            Andromeda Athemi EST LVA LTU BALT JCH EST CH
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="breeders__content-item">
                            <div class="brcontent-item__wrap">
                                <div class="brcontent-item">
                                    <div class="brcontent-item__title-wrap">
                                        <h5 class="brcontent-item__title">
                                            Vanemad
                                        </h5>
                                    </div>
                                    <div class="brcontent-item__text-wrap">
                                        <p class="brcontent-item__text">
                                            CH Cedarwood Play Mor So Much Mor x CH Atena Z Grodu Hrabiego Malmesbury
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="breeders__content-item">
                            <div class="brcontent-item__wrap">
                                <div class="brcontent-item">
                                    <div class="brcontent-item__title-wrap">
                                        <h5 class="brcontent-item__title">
                                            Düsplaasia- ning silmauuringu tulemused
                                        </h5>
                                    </div>
                                    <div class="brcontent-item__text-wrap">
                                        <p class="brcontent-item__text">
                                            Puusaliigesed A/A, küünarliigesed 0/0, pärilike silmahaiguste uuring: puhas
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="breeders__content-item">
                            <div class="brcontent-item__wrap">
                                <div class="brcontent-item">
                                    <div class="brcontent-item__title-wrap">
                                        <h5 class="brcontent-item__title">
                                            Geenitestide tulemused
                                        </h5>
                                    </div>
                                    <div class="brcontent-item__text-wrap">
                                        <p class="brcontent-item__text">
                                            PRA; CNM & HNPK puhas, EIC kandja
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="breeders__content-item">
                            <div class="brcontent-item__wrap">
                                <div class="brcontent-item">
                                    <div class="brcontent-item__title-wrap">
                                        <h5 class="brcontent-item__title">
                                            Katsete tulemused
                                        </h5>
                                    </div>
                                    <div class="brcontent-item__text-wrap">
                                        <p class="brcontent-item__text">
                                            Sooritatud retriiverite tõukatse
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="parents__content">
                            <div class="brcontent-item brcontent-item--anchor">
                                <div class="brcontent-item__title-wrap">
                                    <h5 class="brcontent-item__title">
                                        Foto veebiaadress
                                    </h5>
                                </div>
                                <div class="brcontent-item__text-wrap">
                                    <a href="https://photos.app.goo.gl/twFG1ZsnD3998P7e8" class="brcontent-item__text">
                                        https://photos.app.goo.gl/twFG1ZsnD3998P7e8
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>