<%- include('./incl/header.html')%>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/uhing.jpg" alt="uhing">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Ühing</h1>
            <p class="def-container__text">
                Eesti Labradori Retriiverite Tõuühing (ELRÜ) ühendab isikuid, kelle tegevus või huvid on seotud
                labradori retriiveri tõugu koertega.
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info">
                <h1 class="def-container__title text--XXXL">Ühing</h1>
                <p class="def-container__text">
                    Eesti Labradori Retriiverite Tõuühing (ELRÜ) ühendab isikuid, kelle tegevus või huvid on seotud
                    labradori retriiveri tõugu koertega.
                </p>
            </div>
            <div id="info" data-current-id="connect" data-main-menu-current-id="connect-a"></div>
            <%- include('./incl/main-nav.html')%>
                <section class="uudised__wrap">
                    <div class="uudis__wrap">
                        <div class="dfcontent__item dfcontent__item--mob">
                            <button class="dfcontent__info-btn dfcontent__info-btn--mob dfcontent__info-btn--red">liitu
                                meiega</button>
                            <div class="dfcontent__img ibg ibg--contain">
                                <img src="../assets/img/icons/connect.png" alt="">
                            </div>
                            <div class="dfcontent__info">
                                <h2 class="dfcontent__info-title text--XXL">liikmeks astumine</h2>
                                <p class="dfcontent__info-text">
                                    ELRÜ liikmed võivad olla füüsilised ja Eestis registreeritud juriidilised isikud,
                                    kes tunnustavad ELRÜ
                                    põhikirja.
                                </p>
                                <button class="dfcontent__info-btn dfcontent__info-btn--red">liitu meiega</button>
                            </div>
                        </div>
                        <div class="dfcontent__item">
                            <div class="dfcontent__descr">
                                <div class="descr__item">
                                    <div class="descr__content">
                                        <p class="descr__text descr__text--extrabold">
                                            Tõuühingu liikme eelised:
                                        </p>
                                    </div>
                                    <div class="descr__content">
                                        <ul class="descr__list descr__list--num">
                                            <li class="descr__text">
                                                Võimalus osaleda ELRÜ näitustel, katsetel, koolitustel, loengutel jt
                                                üritustel
                                                soodushinnaga.
                                            </li>
                                            <li class="descr__text">
                                                Võimalus osaleda ka teiste retriiverite tõuühingute poolt korraldatud
                                                üritustel
                                                soodushinnaga.
                                            </li>
                                            <li class="descr__text">
                                                Võimalus kaasa lüüa ELRÜ ürituste korraldamisel.
                                            </li>
                                            <li class="descr__text">
                                                Võimalus esitada oma koer ELRÜ Aasta koera valimise konkursile.
                                            </li>
                                            <li class="descr__text">
                                                Võimalus reklaamida oma kennelis sündinud labradori retriiveri pesakonda
                                                ELRÜ kodulehel ja
                                                Facebooki lehel.
                                            </li>
                                            <li class="descr__text">
                                                Võimalus kaasa rääkida labradori tõu ning tõuühingu arengu olulistes
                                                küsimustes.
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="descr__content">
                                        <p class="descr__text descr__text--extrabold">
                                            ELRÜ liikmeks astumiseks tuleb:
                                        </p>
                                    </div>
                                    <div class="descr__content">
                                        <ul class="descr__list descr__list--num">
                                            <li class="descr__text">
                                                Esitada kirjalik liikmeks astumise avaldus.
                                            </li>
                                            <li class="descr__text">
                                                Tasuda liikmeks astumisega seotud maksed MTÜ Eesti Labradori
                                                Retriiverite Tõuühing
                                                arvelduskontole
                                                EE742200221060278981
                                                Swedbank.
                                            </li>
                                            <li class="descr__text">
                                                Saata digitaalselt allkirjastatud avaldus ja maksekorralduse koopia
                                                e-maili aadressil:
                                                juhatus@labrador.ee või
                                                posti
                                                teel Ihita tee 3, Kaberneeme küla, Jõelähtme vald, 74211 Harjumaa.
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="descr__content">
                                        <p class="descr__text descr__text--extrabold">
                                            ELRÜ sisseastumismaks on 10€ ja ELRÜ aastamaks 15€.
                                        </p>
                                    </div>
                                    <div class="descr__content">
                                        <p class="descr__text">
                                            Liikmemaksu tasumist arvestatakse kalendriaasta põhiselt. Olenemata liikmest
                                            astumise kuupäevast
                                            tuleb aastamaks
                                            tasuda
                                            kogu aasta eest. Iga aasta alguses tasutakse aastamaks täissummas.
                                        </p>
                                    </div>
                                    <div class="descr__content">
                                        <p class="descr__text">
                                            Liikmeks vastuvõtmise otsustab ELRÜ juhatus. Juhatusel on õigus sisseastujat
                                            liikmeks mitte
                                            vastu võtta andes 14
                                            päeva
                                            jooksul kirjaliku vastuse e-kirja või lihtkirja teel koos põhjendusega ning
                                            tagastades liikmeks
                                            astumisega seotud
                                            maksed.
                                        </p>
                                    </div>
                                    <div class="descr__content">
                                        <p class="descr__text">
                                            Liikmemaksu tasumata jätmisel jooksva aasta 1. veebruariks võib juhatus
                                            liikme ühingust välja
                                            arvata.
                                        </p>
                                    </div>
                                </div>
                                <div class="descr__item">
                                    <div class="descr__content">
                                        <p class="descr__text descr__text--extrabold">
                                            Juuniorliikmelisus
                                        </p>
                                        <p class="descr__text">
                                            ELRÜ juhatus võttis 24.11.2015 vastu ELRÜ juuniorliikmeks saamise
                                            tingimused: Juuniorliige on
                                            kuni 18-aastastane isik,
                                            kelle vähemalt üks vanematest on ELRÜ liige. Juuniorliikmel ei ole
                                            hääleõigust ega aastamaksu
                                            kohustust, kuid talle
                                            rakenduvad ELRÜ liikme soodustused.
                                        </p>
                                    </div>
                                </div>
                                <div class="descr__item">
                                    <div class="descr__content">
                                        <p class="descr__text descr__text--extrabold descr__text--upper">
                                            Ühingu liikmed seisuga 01.05.2022
                                        </p>
                                    </div>
                                    <div class="descr__content">
                                        <div class="descr__listado">
                                            <ul class="descr__listado-list">
                                                <li class="descr__member">Britta Puusepp</li>
                                                <li class="descr__member">Inna Metsalu</li>
                                                <li class="descr__member">Šois Marek</li>
                                                <li class="descr__member">Pille-Riin Sepp</li>
                                                <li class="descr__member">Svetlana Hartšenko</li>
                                                <li class="descr__member">Reeli Kuhi-Thalfeldt</li>
                                                <li class="descr__member">Kätlin Kulm</li>
                                                <li class="descr__member">Natalja Stankevitšt</li>
                                                <li class="descr__member">Anneli Ilumets</li>
                                                <li class="descr__member">Mirjam Frey</li>
                                                <li class="descr__member">Maarika Lauringson</li>
                                                <li class="descr__member">Gustav Lauringson</li>
                                                <li class="descr__member">Jelena Vasjutina</li>
                                                <li class="descr__member">Jevgenia Kravtšenko</li>
                                                <li class="descr__member">Maria Kappi</li>
                                                <li class="descr__member">Spartak Kappi</li>
                                                <li class="descr__member">Aleksander-Mark Kappi</li>
                                                <li class="descr__member">Taavi Raun</li>
                                                <li class="descr__member">Kätlin Kullerkupp</li>
                                                <!-- <li class="descr__member">1Spartak Kappi</li>
                                                    <li class="descr__member">Aleksander-Mark Kappi</li>
                                                    <li class="descr__member">Taavi Raun</li>
                                                    <li class="descr__member">Kätlin Kullerkupp</li>
                                                    <li class="descr__member">Spartak Kappi</li>
                                                    <li class="descr__member">Aleksander-Mark Kappi</li>
                                                    <li class="descr__member">Taavi Raun</li>
                                                    <li class="descr__member">Kätlin Kullerkupp</li>
                                                    <li class="descr__member">Spartak Kappi</li>
                                                    <li class="descr__member">Aleksander-Mark Kappi</li>
                                                    <li class="descr__member">Taavi Raun</li>
                                                    <li class="descr__member">Kätlin Kullerkupp</li>
                                                    <li class="descr__member">Spartak Kappi</li>
                                                    <li class="descr__member">Aleksander-Mark Kappi</li>
                                                    <li class="descr__member">Taavi Raun</li>
                                                    <li class="descr__member">Kätlin Kullerkupp</li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>

    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>
            </body>

            </html>