<%- include('./incl/header.html')%>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/uhing.jpg" alt="uhing">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Ühing</h1>
            <p class="def-container__text">
                Eesti Labradori Retriiverite Tõuühing (ELRÜ) ühendab isikuid, kelle tegevus või huvid on seotud
                labradori retriiveri tõugu koertega.
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info">
                <h1 class="def-container__title text--XXXL">Ühing</h1>
                <p class="def-container__text">
                    Eesti Labradori Retriiverite Tõuühing (ELRÜ) ühendab isikuid, kelle tegevus või huvid on seotud
                    labradori retriiveri tõugu koertega.
                </p>
            </div>
            <%- include('./incl/main-nav.html')%>
                <div id="info" data-current-id="documents" data-main-menu-current-id="documents-a"></div>
        </div>
        <div class="def-container__content">
            <div class="dfcontent__item dfcontent__item--mob">
                <div class="dfcontent__img ibg ibg--contain">
                    <img src="../assets/img/icons/documents.png" alt="">
                </div>
                <div class="dfcontent__info">
                    <h2 class="dfcontent__info-title">Dokumendid</h2>
                    <p class="dfcontent__info-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus
                        leo.
                    </p>
                </div>
            </div>
            <div class="dfcontent__item">
                <div class="dfcontent__descr">
                    <div class="descr__item">
                       <section class="documents__wrap">
                        <div class="documents__item">
                            <div class="documents__img">
                                <img src="../assets/img/icons/document.png" alt="doc">
                            </div>
                            <div class="docwments__title">
                                <p>ELRÜ Põhikiri</p>
                            </div>
                        </div>
                        <div class="documents__item">
                            <div class="documents__img">
                                <img src="../assets/img/icons/document.png" alt="doc">
                            </div>
                            <div class="docwments__title">
                                <p>ELRÜ asutamiskoosoleku protokoll</p>
                            </div>
                        </div>
                        <div class="documents__item">
                            <div class="documents__img">
                                <img src="../assets/img/icons/document.png" alt="doc">
                            </div>
                            <div class="docwments__title">
                                <p>Volikiri</p>
                            </div>
                        </div>
                        <div class="documents__item">
                            <div class="documents__img">
                                <img src="../assets/img/icons/document.png" alt="doc">
                            </div>
                            <div class="docwments__title">
                                <p>Liikmeks astumise avaldus</p>
                            </div>
                        </div>
                        <div class="documents__item">
                            <div class="documents__img">
                                <img src="../assets/img/icons/document.png" alt="doc">
                            </div>
                            <div class="docwments__title">
                                <p>Kutsikakuulutuse ankeet</p>
                            </div>
                        </div>
                        <div class="documents__item">
                            <div class="documents__img">
                                <img src="../assets/img/icons/document.png" alt="doc">
                            </div>
                            <div class="docwments__title">
                                <p>Kutsikakuulutuse ankeet</p>
                            </div>
                        </div>
                        <div class="documents__item">
                            <div class="documents__img">
                                <img src="../assets/img/icons/document.png" alt="doc">
                            </div>
                            <div class="docwments__title">
                                <p>Näituse registreerimisleht</p>
                            </div>
                        </div>
                        <div class="documents__item">
                            <div class="documents__img">
                                <img src="../assets/img/icons/document.png" alt="doc">
                            </div>
                            <div class="docwments__title">
                                <p>ELRÜ aasta koera statuut</p>
                            </div>
                        </div>
                        <div class="documents__item">
                            <div class="documents__img">
                                <img src="../assets/img/icons/document.png" alt="doc">
                            </div>
                            <div class="docwments__title">
                                <p>Labradori retriiverite erinäituse statuut</p>
                            </div>
                        </div>
                       </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>
            </body>

            </html>