<%- include('./incl/header.html')%>
    <div id="info" data-current-page-id="kutsikad-a"></div>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/kutsikad.jpg" alt="kutsikad">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Kutsikad</h1>
            <p class="def-container__text text--MS">
                Kodulehel avaldatakse vaid ELRÜ liikmete nimekirjas olevate kasvatajate pesakondi ja kelle vanemad
                vastavad ELRÜ aretusreeglitele
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">Kutsikad</h1>
                <p class="def-container__text text--MS">
                    Kodulehel avaldatakse vaid ELRÜ liikmete nimekirjas olevate kasvatajate pesakondi ja kelle vanemad
                    vastavad ELRÜ aretusreeglitele
                </p>
                <span class="uudised-filter"></span>
            </div>
            <div id="kutsikad"></div>
            <%- include('./incl/main-nav.html')%>
                <section class="page-content">
                    <div class="kutsikad__wrap">
                        <div class="kutsikad__item">
                            <div class="filter__wrap filter__wrap--34">
                                <div class="filter__title">
                                    <h5>category Filter</h5>
                                </div>
                                <div class="filter__kuts">
                                    <div class="accordion">
                                        <div>
                                            <div class="kuts__dropdownlink" aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../kutsikad.html#kutsikad">
                                                        Sündinud
                                                    </a>
                                                </div>
                                                <svg class="kuts__accordion-arrow">
                                                    <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                                </svg>
                                            </div>
                                            <ul class="kuts__submenuItems">
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink active" aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../enne.html#kutsikad">
                                                        Enne kutsika võtmist
                                                    </a>
                                                </div>

                                            </div>
                                            <ul class="kuts__submenuItems">

                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink " aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../kasvatajad.html#kutsikad">
                                                        Kasvatajad
                                                    </a>
                                                </div>

                                            </div>
                                            <ul class="kuts__submenuItems">

                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink " aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../aretusreeglid.html#kutsikad">
                                                        Aretusreeglid
                                                    </a>
                                                </div>

                                            </div>
                                            <ul class="kuts__submenuItems">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <section class="uudis__wrap uudis__wrap--aasta">
                                <div class="uudis__item">
                                    <div class="uudis__img ibg ibg--contain ">
                                        <img src="../assets/img/icons/dog.png" alt="">
                                    </div>
                                    <div class="uudis__info uudis__info--enne">
                                        <h3 class="uudis__title text--XL">
                                            Enne kutsika võtmist
                                        </h3>
                                        <div class="uudis__img--mob ibg ibg--contain ">
                                            <img src="../assets/img/icons/dog.png" alt="">
                                        </div>
                                        <p class="uudis__text text--MS">
                                            Enne kutsika oma koju võtmist tutvuge järgmiste allikatega!
                                        </p>
                                    </div>
                                </div>
                                <div class="enne__wrap">
                                    <div class="enne__book ibg ibg--contain">
                                        <img class="enne__wrap-img" src="../assets/img/icons/book.png" alt="">
                                        <div class="enne__info">
                                            <div class="enne__info-item">
                                                <h5 class="enne__info-title text--M">
                                                    Oluline informatsioon lugemiseks
                                                </h5>
                                            </div>
                                            <div class="enne__info-item">
                                                <p class="enne__info-text text--MS">
                                                    Kõige olulisemad teadmised,<br> mida saate
                                                    <a href="http://www.retriiverid.ee/kutsikad/memo/" class="enne__info-link">siit</a>
                                                    esile tõsta
                                                </p>
                                            </div>
                                            <div class="enne__info-item">
                                                <p class="enne__info-text text--MS">
                                                    Lugege kindlasti infot, mis asub
                                                    <a href="https://kennelliit.ee/hea-teada/#omanikule" class="enne__info-link">SIIN</a>
                                                </p>
                                            </div>
                                            <div class="enne__info-item">
                                                <p class="enne__info-text text--MS">
                                                    Ja lõpuks oleks hea
                                                    <a href="http://www.retriiverid.ee/kutsikad/campbelli-kutsikatest/" class="enne__info-link">SELLE</a><br>
                                                    infoga tutvuda
                                                </p>
                                            </div>
                                        </div>
                                        <div class="enne__img ibg ibg--contain">
                                            <img src="../assets/img/icons/dog-book.png" alt="">
                                        </div>
                                    </div>
                                    <div class="enne__movie">
                                        <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/w4mZjlmj-0k" title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                            allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
        </div>

    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>