<%- include('./incl/header.html')%>
    <div id="info" data-current-page-id="harrastused-a"></div>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/harrastused.jpg" alt="">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Harrastused</h1>
            <p class="def-container__text text--MS">
                Labradori retriiver on väga mitmekülgne koer, kes sobib suurepäraselt nii perekoeraks kui ka jahi- ja
                töökoeraks. Retriiveri omamisel peab arvestama, et tegemist on aktiivse koeraga, kes vajab nii füüsilist
                liikumist kui ka ajutreeningut
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">Harrastused</h1>
                <p class="def-container__text text--MS">
                    Labradori retriiver on väga mitmekülgne koer, kes sobib suurepäraselt nii perekoeraks kui ka jahi-
                    ja töökoeraks. Retriiveri omamisel peab arvestama, et tegemist on aktiivse koeraga, kes vajab nii
                    füüsilist liikumist kui ka ajutreeningut
                </p>
                <span class="uudised-filter"></span>
            </div>
            <div id="harrastused"></div>
            <%- include('./incl/main-nav.html')%>
                <section class="page-content">
                    <div class="filter__wrap filter__wrap--34">
                        <div class="filter__title">
                            <h5>category Filter</h5>
                        </div>
                        <div class="filter__link">
                            <a href="../harrastused.html#harrastused">Harrastused</a>
                        </div>
                        <div class="filter__link currentLink">
                            <a href="../harrasttoukatse.html#harrastused">Tõukatse</a>
                        </div>
                        <div class="filter__link">
                            <a href="../tasemekatse.html#harrastused">Tasemekatse</a>
                        </div>
                        <div class="filter__link">
                            <a href="../muud.html#harrastused">Muud harrastused</a>
                        </div>
                    </div>
                    <section class="uudis__wrap uudis__wrap--aasta">
                        <div class="uudis__item">
                            <div class="uudis__img ibg ibg--contain ">
                                <img src="../assets/img/icons/toukatse.png" alt="">
                            </div>
                            <div class="uudis__info">
                                <h3 class="uudis__title text--XL">
                                    Tõukatse
                                </h3>
                                <div class="uudis__img--mob ibg ibg--contain ">
                                    <img src="../assets/img/icons/toukatse.png" alt="">
                                </div>
                                <p class="uudis__text text--MS">
                                    Tutvu retriiverite tõukatsete reeglitega
                                </p>
                                <p class="uudis__text text--MS">
                                    Mis on retriiverite tõukatse?
                                </p>
                                <p class="uudis__text text--MS">
                                    Autor: Reeli Kuhi-Thalfeldt, retriiverite tõuomaste katsete koolitaja
                                </p>
                                <p class="uudis__text text--MS">
                                    Retriiverite tõukatse eesmärgiks on hinnata, kas koera iseloom on omane
                                    retriiveri tõule ning kas koeral on eeldusi, mis
                                    võimaldavad teda koolitada pisisaagi toomiseks ja/või retriiverite
                                    jahikatseteks. Retriiverite tõukatse mõõdab koera
                                    retriiveriinstinkte. Tegemist ei ole niivõrd katsega, pigem tõuomase testiga,
                                    mille lõpus saab koer tulemuse – kas
                                    sooritatud või mitte sooritatud.
                                </p>
                            </div>
                        </div>
                        <div class="uudis__content">
                            <p class="uudis__text text--MS">
                                Katsel saavad osaleda üle 8 kuu vanused koerad. Tõukatse saagiga sooritanud koer
                                saab rahvusvahelise FCI
                                töösertifikaadi, mis annab õiguse registreerida koera kõigil näitustel kasutusklassi
                                ning võimaldab kinnitada
                                välimikutšempioni tiitli. Tõukatse dummyga sooritanud koer saab aga vaid rahvuslikku
                                töösertifikaadi, mis annab õiguse
                                registreerida koera rahvuslikel-, rühma- ja erinäitustel kasutusklassi ning
                                võimaldab kinnitada EST CH tiitli.
                            </p>
                            <p class="uudis__text text--MS">
                                Tõukatsel kasutatakse kas saaki või dummysid. Saagina on reeglina kasutusel pardid,
                                faasanid ja küülikud, kuid on
                                toimunud ka katseid, kus on kasutatud vareseid ja kajakaid. Saak on varem lastud
                                ning tavaliselt külmutatud ning ennem
                                katset korralikult üles sulatatud. Dummy on tehismaterjalist toomisese, mis oma
                                kaalu poolest sarnaneb saagile.
                            </p>
                            <p class="uudis__text text--MS">
                                Tõukatse reeglid on pärit Soomest, kus tõukatseid on korraldatud juba kümneid
                                aastaid. Eestis on retriiverite tõukatseid
                                korraldatud 2004.a alates ning sellest ajast alates on neid katseid toimunud igal
                                aastal 1-2 korda.
                            </p>
                            <div class="harrast__img">
                                <img src="../assets/img/harrast1.jpg" alt="">
                            </div>
                            <div class="harrast__content harrast__content--column">
                                <div class="harrast__title">
                                    <h4 class="harrast__text text--MS">Hinnatavad omadused</h4>
                                </div>
                                <p class="uudis__text text--MS">
                                    Katsel hinnatakse koera sotsiaalset käitumist, ujumistahet, äratoomistahet,
                                    otsimisindu,
                                    saagihaaret, saagi loovutamist,
                                    reageerimist püssilasule, jäljeajamist ja koostööd juhiga. Retriiverid on
                                    koostööhimulised ja tarmukad jahikoerad, kes
                                    suhtuvad hästi nii võõrastesse koertesse kui ka inimestesse. Neil peab olema
                                    piisavalt
                                    enesekindlust, et lahendada neile
                                    antud ülesandeid kindlameelselt ja omaalgatuslikult. Püssilasu kõlades tuleb
                                    koeral
                                    jääda rahulikuks, keskendunuks ja
                                    hääletuks ning jälgida saagi kukkumist.
                                </p>
                                <p class="uudis__text text--MS">
                                    Õige retriiver naudib töötamist vees ning läheb kõhklemata vette. Otsimisalal
                                    töötavad
                                    nad iseseisvalt, tõhusalt ja
                                    tempokalt kuni saagi leidmiseni või ärakutseni. Saagi haaravad nad
                                    omaalgatuslikult ning
                                    hoiavad seda kindlalt, kuid
                                    pehme haardega, ilma saaki lõhkumata. Retriiverid tahavad teha koostööd oma
                                    juhiga ning
                                    toovad saagi reipalt, otsejoones
                                    juhile, eelistatavalt kätte.
                                </p>
                            </div>
                            <div class="harrast__title">
                                <h4 class="harrast__text text--MS">Tõukatse kulg</h4>
                            </div>
                            <div class="harrast__content harrast__content--m30">
                                <div class="harrast__item">
                                    <div class="harrast__img harrast__img--sm">
                                        <img src="../assets/img/aret2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="harrast__item">
                                    <p class="uudis__text text--MS">
                                        Retriiverite tõukatse koosneb neljast osast: sotsiaalsuse hindamine, veetöö,
                                        otsing ja jälg. Katse alguses kogub
                                        kohtunik koerad ja koerajuhid enda ümber ringi, selgitab katse kulgu ning
                                        tutvub iga koeraga. Samal ajal jälgib kohtunik
                                        koerte suhtumist teistesse koertesse ja võõrastesse inimestesse.
                                    </p>
                                    <p class="uudis__text text--MS">
                                        Veetöö ülesandel tehakse koerale kaks äratoomissooritust: esimene lind (part
                                        või kajakas) visatakse kaldalt ning
                                        lastakse koeral see ära tuua. Teine lind visatakse paadist ning samal ajal
                                        tehakse ka jahipüssist lask õhku; toomise
                                        distants on ~20m.
                                    </p>
                                </div>
                            </div>
                            <div class="harrast__content harrast__content--reverse">
                                <div class="harrast__item">
                                    <div class="harrast__img harrast__img--sm">
                                        <img src="../assets/img/gallery5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="harrast__item">
                                    <p class="uudis__text text--MS">
                                        Otsimisalale metsa on paigutatud viis lindu (faasanit või varest) kuni 60m
                                        kaugusele nii, et koer neid ei näe ja koos
                                        püssilasuga visatakse otsimisalale kuues lind. Kohtuniku loal saadetakse koer
                                        otsima ning ta peab ära tooma 4-6 lindu.
                                    </p>
                                    <p class="uudis__text text--MS">
                                        Jäljeajamise ülesanne tehakse katse lõpus, siis kui kõik koerad on veetöö ja
                                        otsimistöö teinud, ning see veetakse vaid
                                        eelmised osad edukalt sooritanud koertele. Umbes 80 m pikkune kaarjas jälg
                                        veetakse küüliku või jänesega ning igale
                                        koerale veetakse oma jälg. Koer peaks saagi eelistatavalt omaalgatuslikult ära
                                        tooma.
                                    </p>
                                </div>
                            </div>
                            <div class="harrast__content harrast__content--column">
                                <p class="uudis__text text--MS">
                                    Dummykatse puhul on kasutusel dummyd, millel on linnu lõhn ning jälg veetakse
                                    jäneselõhnalise või jänese nahaga kaetud
                                    jäljedummyga. Muus osas sarnaneb katse täielikult saagiga katsele.
                                </p>
                                <p class="uudis__text text--MS">
                                    Koer ei saa tõukatselt positiivset tulemust, juhul kui ta on agressiivne teiste
                                    koerte
                                    või inimeste vastu, keeldub
                                    veetööst, pidevalt haugub või vingub, lõhub saaki, kardab püssipauku, ei leia
                                    otsimisalalt piisaval määral linde või ei
                                    too jälje lõpust jänest.
                                </p>
                            </div>
                            <div class="harrast__title">
                                <h4 class="harrast__text text--MS">Valmistumine tõukatseks</h4>
                            </div>
                            <p class="uudis__text text--MS">
                                Tõukatse on eelkõige test, mitte eksam, seetõttu ei pea koer tegema perfektset tööd.
                                Kohtunik selgitab katse käigus igat
                                ülesannet ning vajadusel aitab nii koera kui koerajuhti. Üldise kuulekuskoolituse
                                läbinud heade instinktidega koerale ei
                                ole tõukatse läbimine raske ning selleks valmistumine ei võta palju vaeva.
                            </p>
                            <p class="uudis__text text--MS">
                                Koeraga tuleks enne katsele minekut harjutada toomist nii veest kui maalt, õpetada ta
                                otsima ja jälge ajama ning
                                tutvustada saagi ja püssilasuga. Samuti on eelduseks üldise kuulekuse trenn, hea koostöö
                                koerajuhiga ning hea füüsiline
                                vorm.
                            </p>
                            <p class="uudis__text text--MS">
                                Enne ametlikke katseid toimuvad sageli ka harjutuskatsed, kus osalemine annab hea
                                ülevaate katsel toimuvast ning
                                võimaldab teada saada, kas koer on tõukatsel osalemiseks valmis.
                            </p>
                        </div>
                    </section>
                </section>
        </div>

    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>