<%- include('./incl/header.html')%>
    <div id="info" data-current-page-id="harrastused-a"></div>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/harrastused.jpg" alt="">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Harrastused</h1>
            <p class="def-container__text text--MS">
                Labradori retriiver on väga mitmekülgne koer, kes sobib suurepäraselt nii perekoeraks kui ka jahi- ja töökoeraks. Retriiveri omamisel peab arvestama, et tegemist on aktiivse koeraga, kes vajab nii füüsilist liikumist kui ka ajutreeningut
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">Harrastused</h1>
                <p class="def-container__text text--MS">
                    Labradori retriiver on väga mitmekülgne koer, kes sobib suurepäraselt nii perekoeraks kui ka jahi- ja töökoeraks. Retriiveri omamisel peab arvestama, et tegemist on aktiivse koeraga, kes vajab nii füüsilist liikumist kui ka ajutreeningut
                </p>
                <span class="uudised-filter"></span>
            </div>
            <div id="harrastused"></div>
            <%- include('./incl/main-nav.html')%>
                <section class="page-content">
                    <div class="filter__wrap filter__wrap--34">
                        <div class="filter__title">
                            <h5>category Filter</h5>
                        </div>
                        <div class="filter__link currentLink">
                            <a href="../harrastused.html#harrastused">Harrastused</a>
                        </div>
                        <div class="filter__link">
                            <a href="../harrasttoukatse.html#harrastused">Tõukatse</a>
                        </div>
                        <div class="filter__link ">
                            <a href="../tasemekatse.html#harrastused">Tasemekatse</a>
                        </div>
                        <div class="filter__link ">
                            <a href="../muud.html#harrastused">Muud harrastused</a>
                        </div>
                    </div>
                    <section class="uudis__wrap uudis__wrap--aasta">
                        <div class="uudis__item">
                            <div class="uudis__img ibg ibg--contain ">
                                <img src="../assets/img/icons/harrast.png" alt="">
                            </div>
                            <div class="uudis__info">
                                <h3 class="uudis__title text--XL">
                                    Harrastused
                                </h3>
                                <div class="uudis__img--mob ibg ibg--contain ">
                                    <img src="../assets/img/icons/harrast.png" alt="">
                                </div>
                                <p class="uudis__text text--MS">
                                    Labradori retriiver on väga mitmekülgne koer, kes sobib suurepäraselt nii perekoeraks kui ka jahi- ja töökoeraks.
                                    Retriiveri omamisel peab arvestama, et tegemist on aktiivse koeraga, kes vajab nii füüsilist liikumist kui ka
                                    ajutreeningut.
                                </p>
                            </div>
                        </div>
                        <div class="uudis__content">
                            <p class="uudis__text text--MS">
                                Labradori retriiveri tõuomaseks ülesandeks on leida ja jahimehele kätte tuua haavatud või surnud jahisaak. Retriiverid
                                on suureks abiks linnu- ja väikeuluki jahil ning oma hea haistmise tõttu kasutatavad ka verejäljel. Lisaks jahil
                                käimisele on võimalik osaleda tõuomastel katsetel – retriiverite tõukatsel, retrivierite tõuomasel tasemekatsel ja
                                retriiverite working testil. Loe lähemalt tõukatsest ja tasemekatsest.
                            </p>
                            <p class="uudis__text text--MS">
                                Labradoriga on võimalik osaleda ka kõigile jahikoertele mõeldud jahikatsetel – Jahikoerte jahiomaduste kindlakstegemine
                                veelindude leidmisel (veelinnukatse), Linnukoerte jahiomaduste kindlakstegemine metslindude leidmisel (metslinnukatse)
                                ja Jahiomaduste kindlaks tegemine 500 m-600 m pikkusel kunstlikul verejäljel.
                            </p>
                            <p class="uudis__text text--MS">
                                Tõukohase katse läbimine on vajalik ka Eesti Välimikutšempioni tiitli kinnitamiseks, milleks lähtuvalt EKL poolt
                                omistatavate tšempionitiitlite statuudile sobivad:
                            </p>
                            <div class="uudis__text text--MS">
                                <ul class="uudis__list--disc uudis__text text--MS">
                                    <li class="uudis__list-text text--MS">
                                        sooritatud retriiverite tõukatse saagiga,
                                    </li>
                                    <li class="uudis__list-text text--MS">
                                        sooritatud retiiverite tõukatse dummydega,
                                    </li>
                                    <li class="uudis__list-text text--MS">
                                        veelinnukatsel vähemalt III järk või
                                    </li>
                                    <li class="uudis__list-text text--MS">
                                        metslinnukatsel vähemalt III järk.
                                    </li>
                                </ul>
                            </div>
                            <p class="uudis__text text--MS">
                                Labradorid on edukad ka teistel koolitusaladel nagu sõnakuulelikkus, kuulekus, agility, pääste, veepääste. Labradore
                                kasutatakse ka pimedate juhtkoertena, teraapiakoerana ning ka narko- ja pommikoerana.
                            </p>
                            <p class="uudis__text text--MS">
                                Täiendav info:
                            </p>
                            <p class="uudis__text text--MS">
                                Ühingu katsete ja koolituste koordinaatoriks on Reeli Kuhi-Thalfeldt, e-mail: too@labrador.ee.
                            </p>
                            
                        </div>
                    </section>
                </section>
        </div>

    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>