<!DOCTYPE html>
<html lang="est">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/icons/logo.png" type="image/png">
    <title>Labrador</title>
</head>
<body>
    <div class="preloader">
        <div class="preloader__row">
            <div class="preloader__item">
            </div>
            <div class="preloader__item preloader__item--rotate"></div>
            <div class="preloader__icon">
                <img src="../assets/img/icons/logo.png" alt="logo">
            </div>
            <div class="preloader__title">
                <h1 class="preloader__text text--XL">
                    Estonian Labrador Retriever Club
                </h1>
            </div>
        </div>
    </div>
    
    <div id="info" data-current-page-id="home-a"></div>
    <%- include('./incl/header.html')%>
    <%- include('./incl/main.html')%>
    <%- include('./incl/about.html')%>
    <%- include('./incl/puppies.html')%>
    <%- include('./incl/gallery.html')%>
    <%- include('./incl/news.html')%>
    <%- include('./incl/movie.html')%>
    <%- include('./incl/partners.html')%>
    <%- include('./incl/footer.html')%>
</body>
</html>