<%- include('./incl/header.html')%>
    <div id="info" data-current-page-id="kutsikad-a"></div>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/kutsikad.jpg" alt="kutsikad">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Kutsikad</h1>
            <p class="def-container__text text--MS">
                Kodulehel avaldatakse vaid ELRÜ liikmete nimekirjas olevate kasvatajate pesakondi ja kelle vanemad
                vastavad ELRÜ aretusreeglitele
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">Kutsikad</h1>
                <p class="def-container__text text--MS">
                    Kodulehel avaldatakse vaid ELRÜ liikmete nimekirjas olevate kasvatajate pesakondi ja kelle vanemad
                    vastavad ELRÜ aretusreeglitele
                </p>
                <span class="uudised-filter"></span>
            </div>
            <div id="kutsikad"></div>
            <%- include('./incl/main-nav.html')%>
                <section class="page-content">
                    <div class="kutsikad__wrap">
                        <div class="kutsikad__item">
                            <div class="filter__wrap filter__wrap--34">
                                <div class="filter__title">
                                    <h5>category Filter</h5>
                                </div>
                                <div class="filter__kuts">
                                    <div class="accordion">
                                        <div>
                                            <div class="kuts__dropdownlink" aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../kutsikad.html#kutsikad">
                                                        Sündinud
                                                    </a>
                                                </div>
                                                <svg class="kuts__accordion-arrow">
                                                    <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                                </svg>
                                            </div>
                                            <ul class="kuts__submenuItems">
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink" aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../enne.html#kutsikad">
                                                        Enne kutsika võtmist
                                                    </a>
                                                </div>
                                            </div>
                                            <ul class="kuts__submenuItems">

                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink active" aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../kasvatajad.html#kutsikad">
                                                        Kasvatajad
                                                    </a>
                                                </div>

                                            </div>
                                            <ul class="kuts__submenuItems">

                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink " aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../aretusreeglid.html#kutsikad">
                                                        Aretusreeglid
                                                    </a>
                                                </div>

                                            </div>
                                            <ul class="kuts__submenuItems">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <section class="uudis__wrap uudis__wrap--aasta">
                                <div class="uudis__item">
                                    <div class="uudis__img ibg ibg--contain ">
                                        <img src="../assets/img/icons/kasvatajad.png" alt="">
                                    </div>
                                    <div class="uudis__info uudis__info--enne">
                                        <h3 class="uudis__title text--XL">
                                            kasvatajad
                                        </h3>
                                        <div class="uudis__img--mob ibg ibg--contain ">
                                            <img src="../assets/img/icons/kasvatajad.png" alt="">
                                        </div>
                                        <p class="uudis__text text--MS">
                                            Labradori retriiverite kasvatajad Eestis, kes on ELRÜ liikmed
                                        </p>
                                    </div>
                                </div>
                                <div class="kasvatajad__wrap">
                                    <div class="kasvatajad__item">
                                        <a href="https://www.facebook.com/profile.php?id=100088788657556" class="kasvatajad__link"></a>
                                        <div class="kasvatajad__initials">
                                            <h2 class="kasvatajad__title text--6XL">FA</h2>
                                        </div>
                                        <div class="kasvatajad__name">
                                            <p class="kasvatajad__text text--M">Fiat Amicus</p>
                                        </div>
                                    </div>
                                    <div class="kasvatajad__item">
                                        <a href="https://kennelforestfan.weebly.com/" class="kasvatajad__link"></a>
                                        <div class="kasvatajad__initials">
                                            <h2 class="kasvatajad__title text--6XL">FF</h2>
                                        </div>
                                        <div class="kasvatajad__name">
                                            <p class="kasvatajad__text text--M">Forest Fan</p>
                                        </div>
                                    </div>
                                    <div class="kasvatajad__item">
                                        <a href="https://www.facebook.com/fortisdogs" class="kasvatajad__link"></a>
                                        <div class="kasvatajad__initials">
                                            <h2 class="kasvatajad__title text--6XL">FD</h2>
                                        </div>
                                        <div class="kasvatajad__name">
                                            <p class="kasvatajad__text text--M">Fortis Dream</p>
                                        </div>
                                    </div>
                                    <div class="kasvatajad__item">
                                        <a href="https://mybrand.ee/et/" class="kasvatajad__link"></a>
                                        <div class="kasvatajad__initials">
                                            <h2 class="kasvatajad__title text--6XL">MB</h2>
                                        </div>
                                        <div class="kasvatajad__name">
                                            <p class="kasvatajad__text text--M">My Brand</p>
                                        </div>
                                    </div>
                                    <div class="kasvatajad__item">
                                        <a href="https://www.facebook.com/KennelNorbonHill" class="kasvatajad__link"></a>
                                        <div class="kasvatajad__initials">
                                            <h2 class="kasvatajad__title text--6XL">NH</h2>
                                        </div>
                                        <div class="kasvatajad__name">
                                            <p class="kasvatajad__text text--M">Norbon Hill</p>
                                        </div>
                                    </div>
                                    <div class="kasvatajad__item">
                                        <a href="https://pramentos.ee/" class="kasvatajad__link"></a>
                                        <div class="kasvatajad__initials">
                                            <h2 class="kasvatajad__title text--6XL">PR</h2>
                                        </div>
                                        <div class="kasvatajad__name">
                                            <p class="kasvatajad__text text--M">Pramentos</p>
                                        </div>
                                    </div>
                                    <div class="kasvatajad__item">
                                        <a href="https://www.facebook.com/RevalDreamKennel" class="kasvatajad__link"></a>
                                        <div class="kasvatajad__initials">
                                            <h2 class="kasvatajad__title text--6XL">RD</h2>
                                        </div>
                                        <div class="kasvatajad__name">
                                            <p class="kasvatajad__text text--M">RevalDream</p>
                                        </div>
                                    </div>
                                    <div class="kasvatajad__item">
                                        <a href="https://www.rossandrose.ee/kontakt" class="kasvatajad__link"></a>
                                        <div class="kasvatajad__initials">
                                            <h2 class="kasvatajad__title text--6XL">RR</h2>
                                        </div>
                                        <div class="kasvatajad__name">
                                            <p class="kasvatajad__text text--M">Ross&Rose</p>
                                        </div>
                                    </div>
                                    <div class="kasvatajad__item">
                                        <a href="https://www.facebook.com/groups/592253284737111" class="kasvatajad__link"></a>
                                        <div class="kasvatajad__initials">
                                            <h2 class="kasvatajad__title text--6XL">SL</h2>
                                        </div>
                                        <div class="kasvatajad__name">
                                            <p class="kasvatajad__text text--M">Sweet Lablove</p>
                                        </div>
                                    </div>
                                    <div class="kasvatajad__item">
                                        <a href="https://royalbrown.ee/" class="kasvatajad__link"></a>
                                        <div class="kasvatajad__initials">
                                            <h2 class="kasvatajad__title text--6XL">RB</h2>
                                        </div>
                                        <div class="kasvatajad__name">
                                            <p class="kasvatajad__text text--M">Royal Brown</p>
                                        </div>
                                    </div>
                                    <div class="kasvatajad__item">
                                        <a href="https://www.facebook.com/profile.php?id=100063946221468" class="kasvatajad__link"></a>
                                        <div class="kasvatajad__initials">
                                            <h2 class="kasvatajad__title text--6XL">WI</h2>
                                        </div>
                                        <div class="kasvatajad__name">
                                            <p class="kasvatajad__text text--M">Wizard’s Creek</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
        </div>
    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>