<%- include('./incl/header.html')%>
    <div id="info" data-current-page-id="tulemused-a"></div>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/tulemused.jpg" alt="uhing">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">tulemused</h1>
            <p class="def-container__text">
                Kuhu minna labradoriga ?
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">tulemused</h1>
                <p class="def-container__text">
                    Kuhu minna labradoriga ?
                </p>
                <span class="uudised-filter"></span>
            </div>
            <div id="tulemused"></div>
            <%- include('./incl/main-nav.html')%>
                <section class="page-content">
                    <div class="filter__wrap">
                        <div class="filter__title">
                            <h5>category Filter</h5>
                        </div>
                        <div class="filter__link">
                            <a href="../tulemused.html#tulemused">Näituse tulemused</a>
                        </div>
                        <div class="filter__link currentLink">
                            <a href="../katsete.html#tulemused">Katsete tulemused</a>
                        </div>
                        <div class="filter__link">
                            <a href="../aasta.html#tulemused">Aasta Koer</a>
                        </div>
                    </div>
                    <div class="tulemused-wrap">
                        <div class="tulemused-content__wrap">
                            <div class="uudised-content__item uudised-content__item">
                                <a href="./näituse.html" class="uudised-content__link"></a>
                                <div class="uudised-content__img ibg ibg--cover">
                                    <img src="../assets/img/uudised-item.jpg" alt="" class="ibg">
                                </div>
                                <div class="uudised-content__info">
                                    <p class="uudised-content-info__date text--S">10 april, 2017</p>
                                    <p class="uudised-content-info__date text--S">Tallinn, Estonia</p>
                                    <p class="uudised-content-info__title text--MS">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                        sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>
                            <div class="uudised-content__item uudised-content__item">
                                <a href="./näituse.html" class="uudised-content__link"></a>
                                <div class="uudised-content__img ibg ibg--cover">
                                    <img src="../assets/img/uudised-item.jpg" alt="" class="ibg">
                                </div>
                                <div class="uudised-content__info">
                                    <p class="uudised-content-info__date text--S">10 april, 2017</p>
                                    <p class="uudised-content-info__date text--S">Tallinn, Estonia</p>
                                    <p class="uudised-content-info__title text--MS">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                        sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>
                            <div class="uudised-content__item uudised-content__item">
                                <a href="./näituse.html" class="uudised-content__link"></a>
                                <div class="uudised-content__img ibg ibg--cover">
                                    <img src="../assets/img/uudised-item.jpg" alt="" class="ibg">
                                </div>
                                <div class="uudised-content__info">
                                    <p class="uudised-content-info__date text--S">10 april, 2017</p>
                                    <p class="uudised-content-info__date text--S">Tallinn, Estonia</p>
                                    <p class="uudised-content-info__title text--MS">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                        sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>
                            <div class="uudised-content__item uudised-content__item"
                                data-readmore-identifier="doc-list-readmore">
                                <a href="./näituse.html" class="uudised-content__link"></a>
                                <div class="uudised-content__img ibg ibg--cover">
                                    <img src="../assets/img/uudised-item.jpg" alt="" class="ibg">
                                </div>
                                <div class="uudised-content__info">
                                    <p class="uudised-content-info__date text--S">10 april, 2017</p>
                                    <p class="uudised-content-info__date text--S">Tallinn, Estonia</p>
                                    <p class="uudised-content-info__title text--MS">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                        sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>
                            <div class="uudised-content__item uudised-content__item"
                                data-readmore-identifier="doc-list-readmore">
                                <a href="./näituse.html" class="uudised-content__link"></a>
                                <div class="uudised-content__img ibg ibg--cover">
                                    <img src="../assets/img/uudised-item.jpg" alt="" class="ibg">
                                </div>
                                <div class="uudised-content__info">
                                    <p class="uudised-content-info__date text--S">10 april, 2017</p>
                                    <p class="uudised-content-info__date text--S">Tallinn, Estonia</p>
                                    <p class="uudised-content-info__title text--MS">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                        sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>
                            <div class="uudised-content__item uudised-content__item"
                                data-readmore-identifier="doc-list-readmore">
                                <a href="./näituse.html" class="uudised-content__link"></a>
                                <div class="uudised-content__img ibg ibg--cover">
                                    <img src="../assets/img/uudised-item.jpg" alt="" class="ibg">
                                </div>
                                <div class="uudised-content__info">
                                    <p class="uudised-content-info__date text--S">10 april, 2017</p>
                                    <p class="uudised-content-info__date text--S">Tallinn, Estonia</p>
                                    <p class="uudised-content-info__title text--MS">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                        sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="read-more__wrapper">
                            <div class="read-more readmore" id="doc-list-readmore">
                                <button class="read-more__btn btn btn--white">
                                    <span class="read-more__text-more text--MS">vaata kõiki uudiseid</span>
                                    <span class="read-more__text-less text--MS">peida kõik uudised</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
        </div>

    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>