<%- include('./incl/header.html')%>
    <div id="info" data-current-page-id="kutsikad-a"></div>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/kutsikad.jpg" alt="kutsikad">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Kutsikad</h1>
            <p class="def-container__text text--MS">
                Kodulehel avaldatakse vaid ELRÜ liikmete nimekirjas olevate kasvatajate pesakondi ja kelle vanemad
                vastavad ELRÜ aretusreeglitele
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">Kutsikad</h1>
                <p class="def-container__text text--MS">
                    Kodulehel avaldatakse vaid ELRÜ liikmete nimekirjas olevate kasvatajate pesakondi ja kelle vanemad
                    vastavad ELRÜ aretusreeglitele
                </p>
                <span class="uudised-filter"></span>
            </div>
            <div id="kutsikad"></div>
            <%- include('./incl/main-nav.html')%>
                <section class="page-content">
                    <div class="kutsikad__wrap">
                        <div class="kutsikad__item">
                            <div class="filter__wrap filter__wrap--34">
                                <div class="filter__title">
                                    <h5>category Filter</h5>
                                </div>
                                <div class="filter__kuts">
                                    <div class="accordion">
                                        <div>
                                            <div class="kuts__dropdownlink active" aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../kutsikad.html#kutsikad">
                                                        Sündinud
                                                    </a>
                                                </div>
                                                <svg class="kuts__accordion-arrow">
                                                    <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                                </svg>
                                            </div>
                                            <ul class="kuts__submenuItems">
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name1" href="../breeders.html">
                                                        Breeder's name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name2" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name3" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name4" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name5" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                                <li class="kuts__submenuItems-link">
                                                    <a id="name6" href="../breeders.html">
                                                        Breeder's
                                                        name
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink " aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../enne.html#kutsikad">
                                                        Enne kutsika võtmist
                                                    </a>
                                                </div>

                                            </div>
                                            <ul class="kuts__submenuItems">

                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink " aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../kasvatajad.html#kutsikad">
                                                        Kasvatajad
                                                    </a>
                                                </div>

                                            </div>
                                            <ul class="kuts__submenuItems">

                                            </ul>
                                        </div>
                                        <div>
                                            <div class="kuts__dropdownlink " aria-hidden="true">
                                                <div class="kuts__accordeon-header">
                                                    <a id="" href="../aretusreeglid.html#kutsikad">
                                                        Aretusreeglid
                                                    </a>
                                                </div>

                                            </div>
                                            <ul class="kuts__submenuItems">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <section class="uudis__wrap uudis__wrap--aasta">
                                <div class="uudis__item">
                                    <div class="uudis__img ibg ibg--contain ">
                                        <img src="../assets/img/icons/cake.png" alt="">
                                    </div>
                                    <div class="uudis__info">
                                        <h3 class="uudis__title text--XL">
                                            Sündinud
                                        </h3>
                                        <div class="uudis__img--mob ibg ibg--contain ">
                                            <img src="../assets/img/icons/cake.png" alt="">
                                        </div>
                                        <p class="uudis__text text--MS">
                                            Kodulehel avaldatakse vaid ELRÜ liikmete nimekirjas olevate kasvatajate
                                            pesakondi,
                                            kes on sündinud ja üles kasvatatud
                                            Eestis kuni loovutuseni ning kelle vanemad vastavad ELRÜ aretusreeglitele.
                                            Kutsikaid
                                            on lubatud loovutada alates 7
                                            nädala vanuselt ning ainult koos EKL-i tõutunnistusega (EKL-i
                                            tõuraamatumäärus).
                                        </p>
                                        <button class="kuts__btn kuts__btn--white">
                                            <a href="#">
                                                sisesta kuulutus
                                            </a>
                                        </button>
                                    </div>
                                </div>
                                <div class="uudis__content--kuts">
                                    <p class="uudis__text text--MS">
                                        Kuulutuse lisamise tingimused
                                    </p>
                                    <p class="uudis__text text--MS">
                                        Pesakonna kuulutuse tasu on 15 €, mis sisaldab planeeritud pesakonna kuulutust.
                                        Üle
                                        6-kuu vanuste koerte kuulutused on
                                        tasuta.
                                    </p>
                                    <p class="uudis__text text--MS">
                                        Kuulutuse lisamiseks tuleb täita kutsikakuulutuse ankeet , tasuda ühingu
                                        pangaarvele
                                        pesakonna reklaamimise tasu 10 €
                                        ning saata ankeet ja maksekorralduse koopia koos pesakonna vanemate fotodega
                                        aadressile
                                        juhatus@labrador.ee.
                                    </p>
                                    <p class="uudis__text text--MS">
                                        Kuulutus pannakse üles hiljemalt ühe nädala jooksul info saamisest ja arve
                                        tasumisest.
                                        Kuulutus on avaldamise hetkest
                                        alates üleval 4 kuud, kui kasvataja pole soovinud teisiti.
                                    </p>
                                    <p class="uudis__text text--MS">
                                        Kuulutuse mahavõtmiseks (näiteks juhul, kui kõik kutsikad on uutesse kodudesse
                                        läinud)
                                        tuleb teavitada kodulehe
                                        toimetajat aadressil webmaster@labrador.ee.
                                    </p>
                                    <div class="uudis__item">

                                    </div>
                            </section>
                        </div>
                        <div class="kutsikad__item">
                            <div class="kutsikad__info">
                                <div class="kuts-info__content">
                                    <a class="kuts-info__link" href="../breeders.html#name1"></a>
                                    <div class="kuts-info__img ibg ibg--cover">
                                        <img src="../assets/img/labr.jpg" alt="">
                                    </div>
                                    <div class="kuts-info__name">
                                        <p class="kuts-info__text text--L">Breeder's name</p>
                                    </div>
                                </div>
                                <div class="kuts-info__content">
                                    <a class="kuts-info__link" href="../breeders.html#name2"></a>
                                    <div class="kuts-info__img ibg ibg--cover">
                                        <img src="../assets/img/labr.jpg" alt="">
                                    </div>
                                    <div class="kuts-info__name">
                                        <p class="kuts-info__text text--L">Breeder's name</p>
                                    </div>
                                </div>
                                <div class="kuts-info__content">
                                    <a class="kuts-info__link" href="../breeders.html#name3"></a>
                                    <div class="kuts-info__img ibg ibg--cover">
                                        <img src="../assets/img/labr.jpg" alt="">
                                    </div>
                                    <div class="kuts-info__name">
                                        <p class="kuts-info__text text--L">Breeder's name</p>
                                    </div>
                                </div>
                                <div class="kuts-info__content">
                                    <a class="kuts-info__link" href="../breeders.html#name4"></a>
                                    <div class="kuts-info__img ibg ibg--cover">
                                        <img src="../assets/img/labr.jpg" alt="">
                                    </div>
                                    <div class="kuts-info__name">
                                        <p class="kuts-info__text text--L">Breeder's name</p>
                                    </div>
                                </div>
                                <div class="kuts-info__content">
                                    <a class="kuts-info__link" href="../breeders.html#name5"></a>
                                    <div class="kuts-info__img ibg ibg--cover">
                                        <img src="../assets/img/labr.jpg" alt="">
                                    </div>
                                    <div class="kuts-info__name">
                                        <p class="kuts-info__text text--L">Breeder's name</p>
                                    </div>
                                </div>
                                <div class="kuts-info__content">
                                    <a class="kuts-info__link" href="../breeders.html#name6"></a>
                                    <div class="kuts-info__img ibg ibg--cover">
                                        <img src="../assets/img/labr.jpg" alt="">
                                    </div>
                                    <div class="kuts-info__name">
                                        <p class="kuts-info__text text--L">Breeder's name</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>

    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>