<%- include('./incl/header.html')%>
    <div id="info" data-current-page-id="harrastused-a"></div>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/harrastused.jpg" alt="">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Harrastused</h1>
            <p class="def-container__text text--MS">
                Labradori retriiver on väga mitmekülgne koer, kes sobib suurepäraselt nii perekoeraks kui ka jahi- ja
                töökoeraks. Retriiveri omamisel peab arvestama, et tegemist on aktiivse koeraga, kes vajab nii füüsilist
                liikumist kui ka ajutreeningut
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">Harrastused</h1>
                <p class="def-container__text text--MS">
                    Labradori retriiver on väga mitmekülgne koer, kes sobib suurepäraselt nii perekoeraks kui ka jahi-
                    ja töökoeraks. Retriiveri omamisel peab arvestama, et tegemist on aktiivse koeraga, kes vajab nii
                    füüsilist liikumist kui ka ajutreeningut
                </p>
                <span class="uudised-filter"></span>
            </div>
            <div id="harrastused"></div>
            <%- include('./incl/main-nav.html')%>
                <section class="page-content">
                    <div class="filter__wrap filter__wrap--34">
                        <div class="filter__title">
                            <h5>category Filter</h5>
                        </div>
                        <div class="filter__link">
                            <a href="../harrastused.html#harrastused">Harrastused</a>
                        </div>
                        <div class="filter__link">
                            <a href="../harrasttoukatse.html#harrastused">Tõukatse</a>
                        </div>
                        <div class="filter__link">
                            <a href="../tasemekatse.html#harrastused">Tasemekatse</a>
                        </div>
                        <div class="filter__link currentLink">
                            <a href="../muud.html#harrastused">Muud harrastused</a>
                        </div>
                    </div>
                    <section class="uudis__wrap uudis__wrap--aasta">
                        <div class="uudis__item">
                            <div class="uudis__img ibg ibg--contain ">
                                <img src="../assets/img/icons/muud.png" alt="">
                            </div>
                            <div class="uudis__info">
                                <h3 class="uudis__title text--XL">
                                    Muud harrastused
                                </h3>
                                <div class="uudis__img--mob ibg ibg--contain ">
                                    <img src="../assets/img/icons/muud.png" alt="">
                                </div>
                                <p class="uudis__text text--MS">
                                    Labradori retriiverid on mitmekülgsed koerad ning sobivad mitmesugusteks harrastusteks lisaks tõu- ja tasemekatse
                                    treeningutele. Labradori retriiveritele meeldib väga oma perega aktiivselt aega veeta näiteks metsajooksu kaaslasena,
                                    looduses matkates, tõukekelgu või suusaveol, arvestades loomulikult koera füüsilist ja tervislikku seisundit.
                                    Harrastused, mida teha labradori retriiveriga:
                            </div>
                        </div>
                        <div class="uudis__content">
                            <div class="harrast__content">
                                <div class="harrast__item">
                                    <div class="harrast__title">
                                        <h4 class="harrast__text text--MS">Kuulekuskoolitus (KK)</h4>
                                    </div>
                                    <p class="uudis__text text--MS m--b-45">
                                        Kuulekuskoolituse kaudu õpetatakse koerale (ka tavaelus) vajalikke oskusi ning koera omanikule, kuidas koerale uusi
                                        vajalikke oskusi edastada. Eksamitel ja võistlustel kontrollitakse koolituse tulemusi ehk koera ja koerajuhi vahelist
                                        koostööd ning seda, kui korrektselt koer kõik harjutused omandanud on. Eesmärgiks on ka koerasõbraliku õhkkonnaga
                                        harrastusevõimaluse pakkumine.
                                    </p>
                                    <div class="harrast__title">
                                        <h4 class="harrast__text text--MS">Sõnakuulelikkuse koolitus (SK)</h4>
                                    </div>
                                    <p class="uudis__text text--MS">
                                        Sõnakuulelikkuse (SK) koolituse eesmärgiks on õpetada koerale sobilikku käitumist ja sõnakuulelikkust ning
                                        koeraomanikule õiget ja asjalikku suhtlemist koeraga. Erilist tähelepanu pööratakse koera ja koerajuhi vahelisele
                                        kontaktile ja koera valmisolekule kuuletuda ka koerajuhist eemal viibides. Koera ja koerajuhi koostöö peab moodustama
                                        hea üldmulje. Eesmärgiks on ka koerasõbraliku õhkkonnaga harrastusevõimaluse pakkumine.
                                    </p>
                                </div>
                                <div class="harrast__item">
                                    <div class="harrast__img harrast__img--m32">
                                        <img src="../assets/img/muud.jpg" alt="">
                                    </div>
                                    <div class="harrast__link-wrap">
                                        <a href="http://kennelliit.ee/wp-content/uploads/2014/04/SK_voistluste_eeskirjad_ja_juhendid.pdf" class="harrast__link">
                                            <div class="harrast__arrow">
                                                <img src="../assets/img/icons/main-arrow.png" alt="arrow" class="more__picture more__picture--harrast">
                                            </div>
                                            <h5 class="harrast__link-text">Sõnakuulelikkuse koolituse eeskiri</h5>
                                        </a> 
                                    </div>
                                </div>
                            </div>
                            <div class="harrast__title">
                                <h4 class="harrast__text text--MS">Veepääste (VP)</h4>
                            </div>
                            <p class="uudis__text text--MS">
                                Veepääste (VP) koolituse eesmärgiks on aktiivne vaba aja veetmine koos koeraga. Veepääste koolituse üheks eesmärgiks on
                                koerte koolitamise ja koerte veepääste koolituse populariseerimine Eestis. Veepääste koolitus baseerub koera loomuomasel
                                veeinstinktil ning koera ja koerajuhi vahelisel koostööl. Koer ei ole veepäästes iseseisev päästja, vaid ta on inimese
                                abiline koos oma instinktide, füüsilise võimekuse ja inimesele orienteeritusega.
                            </p>
                            <div class="harrast__content harrast__content">
                                <div class="harrast__item">
                                    <div class="harrast__img harrast__img--m32">
                                        <img src="../assets/img/muud1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="harrast__item">
                                    <div class="harrast__img harrast__img--m32">
                                        <img src="../assets/img/muud2.jpg" alt="">
                                    </div>
                                    <div class="harrast__link-wrap--right">
                                        <a href="http://kennelliit.ee/wp-content/uploads/2019/06/VPeeskiri_2019.pdf" class="harrast__link">
                                            <div class="harrast__arrow">
                                                <img src="../assets/img/icons/main-arrow.png" alt="arrow" class="more__picture more__picture--harrast">
                                            </div>
                                            <h5 class="harrast__link-text">Veepääste eeskiri</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="harrast__title">
                                <h4 class="harrast__text text--MS">Agility (AG)</h4>
                            </div>
                            <div class="harrast__content harrast__content">
                                <div class="harrast__item">
                                    <p class="uudis__text text--MS">
                                        Agility eesmärgiks on arendada koerte liikuvust ja arukust, õpetades neid sooritama erinevaid takistusi (tunnelid,
                                        A-takistus, slaalom, poom, rõngas, müür, kaugushüpe). Agility kui hariva ja sportliku tegevuse abil sotsialiseeritakse
                                        koeri. Agility nõuab koera ja koerajuhi vahelist head koostööd, kuivõrd agility rada on igakord erinev. Agilitys on
                                        oluline nii osavus kui kiirus. Võistlusrada tuleb läbida võimalikult väheste vigadega ja võimalikult kiiresti.
                                    </p>
                                </div>
                                <div class="harrast__item">
                                    <div class="harrast__img harrast__img--m32">
                                        <img src="../assets/img/muud3.jpg" alt="">
                                    </div>
                                    <div class="harrast__link-wrap--right">
                                        <a href="http://kennelliit.ee/wp-content/uploads/2018/09/KKK-21-02_2018_FCI-Agility-eeskirjad.pdf"
                                            class="harrast__link">
                                            <div class="harrast__arrow">
                                                <img src="../assets/img/icons/main-arrow.png" alt="arrow" class="more__picture more__picture--harrast">
                                            </div>
                                            <h5 class="harrast__link-text">Agility eeskiri</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="harrast__title harrast__title--right">
                                <h4 class="harrast__text text--MS">Teraapiakoerad (koeri kaasavad sekkumised)</h4>
                            </div>
                            <div class="harrast__content harrast__content">
                                <div class="harrast__item">
                                    <div class="harrast__img harrast__img--sm">
                                        <img src="../assets/img/muud4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="harrast__item">
                                    <p class="uudis__text uudis__text--end text--MS">
                                        Koeri kaasav sekkumine on eesmärgipärane tegevus, mis tervishoiu, sotsiaaltöö ja hariduse valdkonnas ning teistes
                                        inimestele suunatud teenuste valdkondades teraapiliste tulemuste saavutamiseks kaasab teadlikult ja sihipäraselt
                                        protsessi koeri. Sekkumistes osalevad professionaalid, kes tunnevad neis osalevaid inimesi ja koeri. Sekkumistes
                                        osalevad teraapiakoeratiimid koosnevad koerajuhist ja koerast ning nendega koos töötavast eksperdist (sotsiaaltöötajast,
                                        pedagoogist, terapeudist jne) vastavalt teenuse iseloomule ja vajadusele. Koeri kaasavas sekkumiseks osalemiseks tuleb
                                        koeraga koeraga läbida sobivustestimine, osaleda baaskoolitusel ning teraapiakoeratiimi eksamil.
                                    </p>
                                </div>
                            </div>
                            <div class="harrast__title">
                                <h4 class="harrast__text text--MS">BH – ühiskonnakõlblikkusekatse</h4>
                            </div>
                            <p class="uudis__text text--MS">
                                Ühiskonnakõlblikkuse test koosneb koera ligipääsetavustestist (kiibi kontrollimine), platsil sooritatavatest
                                kuulekusharjutustest (kõrvalkõnd rihmaga ja rihmata, juurdetulek, püsivus, liikumiselt istumine) ja linnaosast
                                (suhtumine inimrühma, autodesse, jooksjatesse, teistesse koertesse, jalgratturitesse, liiklusesse), mis tuleb üksteise
                                järel sooritada. BH test on paljudes riikides eelduseks, et koer saaks üldse võistlustel või eksamitel osaleda. Eestis
                                on BH katse sooritamine nõutav rahvusvahelise teenistuskoerte ja jäljekoerte töökatsetel osalemisel, kuid BH katse sobib
                                hästi noortele alles võistlemist alustavatele koertele esimeseks ametlikuks katseks.
                            </p>
                            <div class="harrast__link-wrap m--b-35">
                                <a href="http://kennelliit.ee/wp-content/uploads/2013/11/IPO2012.pdf"
                                    class="harrast__link harrast__link--start">
                                    <div class="harrast__arrow">
                                        <img src="../assets/img/icons/main-arrow.png" alt="arrow" class="more__picture more__picture--harrast">
                                    </div>
                                    <h5 class="harrast__link-text">BH eeskiri (lk 20-25)</h5>
                                </a>
                            </div>
                            <div class="harrast__title">
                                <h4 class="harrast__text text--MS">Pääste- ja otsingukoerad (IPO-R)</h4>
                            </div>
                            <p class="uudis__text text--MS">
                                Väga praktiline koolitusala, mis koosneb maa-ala otsingust (RH-FL), varinguotsingust (RH-T), jäljekatsest (RH-F) ning
                                kuulekusest ja osavusest. Maa-alaotsingus otsib koer koerajuhi korraldusel etteantud aja jooksul läbi ettenähtud
                                maa-ala, reageerides õhu kaudu levivale lõhnale. Vastavalt raskusastmele tuleb leida kõik peidetud figurandid.
                                Varinguotsingu all mõeldakse eelkõige otsingut rusudel või varisenud hoones, kus võimalikud ohvrid on mattunud rusude
                                alla ega ole nähtaval. Varingupinnasel liikumine on keeruline ning nõuab koertelt väga head liikuvust ja vastupidavust.
                                Harjutusväljakutel kasutatakse figurantide peitmiseks kinniseid peidikuid, kus koer peab markeerima lõhna leidmist selle
                                koha peal kust lõhn kõige tugevam on. Päästejälg on väga praktiline koolitusala, koertele on nina kasutamine lõhna
                                ajamiseks maad mööda kulgeval jäljel väga loomuomane tegevus ning piisava treenituse ja kogemustepagasi juures suudab
                                koer ajada ka mitme kilomeetri pikkuseid jälgi. Päästejälg võib kulgeda üle erinevate maastikkude, põld võib vahelduda
                                metsaga või soise pinnase, jälg võib minna üle teede ja kraavide.
                            </p>
                            <div class="harrast__img harrast__img--m32">
                                <img src="../assets/img/muud5.jpg" alt="">
                            </div>
                            <div class="harrast__link-wrap">
                                <a href="http://kennelliit.ee/wp-content/uploads/2013/11/IPO2012.pdf" class="harrast__link harrast__link--start">
                                    <div class="harrast__arrow m--r-40">
                                        <img src="../assets/img/icons/main-arrow.png" alt="arrow" class="more__picture more__picture--harrast">
                                    </div>
                                    <h5 class="harrast__link-text">IPO-R eeskiri</h5>
                                </a>
                            </div>
                        </div>
                    </section>
                </section>
        </div>

    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>