<%- include('./incl/header.html')%>
    <div id="info" data-current-page-id="tulemused-a"></div>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/tulemused.jpg" alt="uhing">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">tulemused</h1>
            <p class="def-container__text">
                Kuhu minna labradoriga ?
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">tulemused</h1>
                <p class="def-container__text">
                    Kuhu minna labradoriga ?
                </p>
                <span class="naituse-filter"></span>
            </div>
            <div id="tulemused"></div>
            <%- include('./incl/main-nav.html')%>
                <section class="page-content">
                    <div class="naituse-item">
                        <div class="filter__wrap filter__wrap--34">
                            <div class="filter__title">
                                <h5>category Filter</h5>
                            </div>
                            <div id="tulemused" class="filter__link currentLink">
                                <a href="../tulemused.html#tulemused">Näituse tulemused</a>
                            </div>
                            <div class="filter__link">
                                <a href="../katsete.html#tulemused">Katsete tulemused</a>
                            </div>
                            <div class="filter__link">
                                <a href="../aasta.html#tulemused">Aasta Koer</a>
                            </div>
                        </div>
                        <div class="tulemused-wrap">
                            <div class="naituse__wrap">
                                <h4 class="naituse__title text--XL">Springshow 2019 tulemused</h4>
                                <p class="naituse__text text--MS">
                                    12.05.209 Tallinnas Vabaduse pargis toimunud labradoride mitteametliku ülevaatusnäituse
                                    Springshow 2019 Best in Show
                                    tulemused:
                                </p>
                                <p class="naituse__text text--MS">
                                    1.koht – Pramentos Pink Star Diamond omanik Pille-Riin Sepp & Mai-Liis Tammpere
                                </p>
                                <p class="naituse__text text--MS">
                                    2.koht – Waterline´s Candy Crush, omanikud Eva Vilamo & Pille-Riin Sepp
                                </p>
                                <p class="naituse__text text--MS">
                                    3.koht – Annillat´zi One For All For Adgar, omanikud Julia Tokareva & Aleksandr Kruglov
                                </p>
                                <p class="naituse__text text--MS">
                                    4.koht – Gilbron Pride One Sweet Bon-Bon, omanik Maria Kappi
                                </p>
                                <p class="naituse__text text--MS">
                                    Täname kõik osalejaid, kes veetsid meiega seda toredat päeva! Suured tänud ka kohtunikule Konstantin
                                    Andrejevile (kennel
                                    De Anrit, RUS) ning loomulikult meie super tublile sponsorile, lemmikloomapoele MINU KOER! Loodame, et jäite
                                    rahule meie
                                    üritusega ning kohtumiseni järgmisel aastal!
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="naituse-info">
                    <div class="naituse-comment">
                        <h5>Näituse tulemused</h5>
                    </div>
                    <div class="naituse-content">
                        <div class="naituse-content__wrap">
                            <div class="naituse-content__item">
                                <a href="../näituse.html#tulemused" class="naituse-content__link"></a>
                                <div class="naituse-content__img ibg ibg--cover">
                                    <img src="../assets/img/uudised-item.jpg" alt="">
                                </div>
                                <div class="naituse-content__info">
                                    <p class="naituse-content-info__date text--S">10 april, 2017</p>
                                    <p class="naituse-content-info__date text--S">Tallinn, Estonia</p>
                                    <p class="naituse-content-info__title text--MS">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                        sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>
                            <div class="naituse-content__item">
                                <a href="../näituse.html#tulemused" class="naituse-content__link"></a>
                                <div class="naituse-content__img ibg ibg--cover">
                                    <img src="../assets/img/uudised-item.jpg" alt="">
                                </div>
                                <div class="naituse-content__info">
                                    <p class="naituse-content-info__date text--S">10 april, 2017</p>
                                    <p class="naituse-content-info__date text--S">Tallinn, Estonia</p>
                                    <p class="naituse-content-info__title text--MS">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                        sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>
                            <div class="naituse-content__item">
                                <a href="../näituse.html#tulemused" class="naituse-content__link"></a>
                                <div class="naituse-content__img ibg ibg--cover">
                                    <img src="../assets/img/uudised-item.jpg" alt="">
                                </div>
                                <div class="naituse-content__info">
                                    <p class="naituse-content-info__date text--S">10 april, 2017</p>
                                    <p class="naituse-content-info__date text--S">Tallinn, Estonia</p>
                                    <p class="naituse-content-info__title text--MS">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                        sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="read-more__wrapper">
                            <div class="read-more readmore">
                                <button class="read-more__btn btn btn--white">
                                    <a href="../tulemused.html" class="read-more__text-more text--MS">vaata kõiki tulemusi</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>