<%- include('./incl/header.html')%>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/uhing.jpg" alt="uhing">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Ühing</h1>
            <p class="def-container__text">
                Eesti Labradori Retriiverite Tõuühing (ELRÜ) ühendab isikuid, kelle tegevus või huvid on seotud
                labradori retriiveri tõugu koertega.
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info">
                <h1 class="def-container__title text--XXXL">Ühing</h1>
                <p class="def-container__text">
                    Eesti Labradori Retriiverite Tõuühing (ELRÜ) ühendab isikuid, kelle tegevus või huvid on seotud
                    labradori retriiveri tõugu koertega.
                </p>
            </div>
            <%- include('./incl/main-nav.html')%>
                <div id="info" data-current-id="rules" data-main-menu-current-id="rules-a"></div>
                <section class="uudised__wrap">
                    <div class="uudis__wrap">
                        <div class="dfcontent__item dfcontent__item--mob">

                            <div class="dfcontent__img ibg ibg--contain">
                                <img src="../assets/img/icons/rules.png" alt="">
                            </div>
                            <div class="dfcontent__info">
                                <h2 class="dfcontent__info-title text--XXL">Põhikiri</h2>
                                <p class="dfcontent__info-text">
                                    EESTI LABRADORI RETRIIVERITE TÕUÜHINGU PÕHIKIRI
                                </p>
                                <!-- <button class="dfcontent__info-btn dfcontent__info-btn--red">liitu meiega</button> -->
                            </div>
                        </div>
                        <div class="dfcontent__item">
                            <div class="dfcontent__descr">
                                <div class="descr__item">
                                    <section class="rules__accordion-menu">
                                        <div>
                                            <div class="rules__accordion-item rules__dropdownlink" aria-hidden="true">
                                                <div class="rules__accordion-header">
                                                    <h5>1. ÜLDSÄTTED</h5>
                                                </div>
                                                <img class="rules__accordion-arrow"
                                                    src="../assets/img/icons/double-arrow-down.png" alt="arrow">
                                            </div>
                                            <ul class="rules__submenuItems">
                                                <li class="rules__submenuItems-link">
                                                    1.1. Eesti Labradori Retriiverite Tõuühing (edaspidi ELRÜ) on
                                                    vabatahtlik
                                                    mittetulundusühing, mis ühendab füüsilisi ja
                                                    juriidilisi isikuid, kelle tegevus või huvid on seotud labradori
                                                    retriiveri tõugu
                                                    koertega. ELRÜ ingliskeelne nimetus on
                                                    Estonian Labrador Retriever Club, lühend ELRC.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    1.2. ELRÜ juhindub oma tegevuses sellest põhikirjast, Eesti
                                                    Vabariigis kehtivast
                                                    seadusandlusest, Eesti Kennelliidu
                                                    (edaspidi EKL) normatiivaktidest ja Rahvusvahelise Künoloogia
                                                    Föderatsiooni (edaspidi
                                                    FCI) normatiivdokumentidest.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    1.3. ELRÜ asukohaks on Eesti Vabariik, Harjumaa.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    1.4. ELRÜ on juriidiline isik, kellel on iseseisev bilanss,
                                                    pangaarved ja oma
                                                    sümboolika.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    1.5. ELRÜ-l on õigus moodustada piirkondlikke allüksusi, mis ei ole
                                                    juriidilised isikud.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    1.6. ELRÜ töökeel on eesti keel.
                                                </li>
                                                <li class="rules__submenuItems-link"></li>
                                                <li class="rules__submenuItems-link"></li>
                                                <li class="rules__submenuItems-link"></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="rules__accordion-item rules__dropdownlink" aria-hidden="true">
                                                <div class="rules__accordion-header">
                                                    <h5>2. EESMÄRGID JA TEGEVUSALAD</h5>
                                                </div>
                                                <img class="rules__accordion-arrow"
                                                    src="../assets/img/icons/double-arrow-down.png" alt="arrow">
                                            </div>
                                            <ul class="rules__submenuItems">
                                                <li class="rules__submenuItems-link">
                                                    2.1. ELRÜ eesmärgiks on kaasa aidata labradori retriiveri tõugu
                                                    koerte kasvatamisele,
                                                    aretamisele ja pidamisele ning
                                                    ühendada ja esindada labradori retriiveritega seotud isikuid.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    2.2. ELRÜ tegevusalad:
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    2.2.1. aretustöö ja tõuomaste katsete koordineerimine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    2.2.2. pärilike haiguste statistika koostamine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    2.2.3. labradori retriiveri tõugu koertega seonduva teabe kogumine
                                                    ja levitamine oma
                                                    liikmetele ja teistele huvilistele.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    2.2.4. näituste, võistluste, koolituste, testide, katsete ja muude
                                                    ürituste
                                                    korraldamine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    2.2.5. kontaktide loomine ja hoidmine EKL-i ja teiste tõuühingutega
                                                    ning väliskontaktide
                                                    sõlmimine.
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="rules__accordion-item rules__dropdownlink" aria-hidden="true">
                                                <div class="rules__accordion-header">
                                                    <h5>3. LIIKMELISUS</h5>
                                                </div>
                                                <img class="rules__accordion-arrow"
                                                    src="../assets/img/icons/double-arrow-down.png" alt="arrow">
                                            </div>
                                            <ul class="rules__submenuItems">
                                                <li class="rules__submenuItems-link">
                                                    3.1. ELRÜ-l on individuaal, kollektiiv- ja auliikmed, kes
                                                    tunnustavad käesolevat
                                                    põhikirja. Auliige on vabastatud
                                                    liikmemaksust.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.2. ELRÜ liikmeks astumisel tuleb esitada kirjalik avaldus ja
                                                    tasuda liikmeks
                                                    astumisega seotud maksed.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.3. Liikmeks vastuvõtmise otsustab ELRÜ juhatus.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.4. Juhatusel on õigus sisseastujat liikmeks mitte vastu võtta
                                                    andes 14 päeva jooksul
                                                    kirjaliku vastuse e-kirja või
                                                    lihtkirja teel koos põhjendusega ning tagastades liikmeks astumisega
                                                    seotud maksed.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.5. Sisseastujale, kellele pole juhatus liikmeks astumist
                                                    kinnitanud, ei laiene selle
                                                    perioodi jooksul tavaliikme
                                                    hääleõigus.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.6. Liikmemaksu tasumist arvestatakse kalendriaasta põhiselt.
                                                    Liikmemaksu tasumata
                                                    jätmisel jooksva aasta 1.
                                                    veebruariks võib juhatus liikme ühingust välja arvata. Liige, kellel
                                                    on liikmemaks
                                                    tasumata, kuid keda pole liikmeskonna
                                                    seast välja arvatud, ei saa osaleda hääletamistel ega olla valitud
                                                    juhtorganitesse.
                                                    Juhul kui mõnel juhtorgani liikmel
                                                    on liikmemaks tasumata peatuvad tema volitused juhtorgani liikmena
                                                    kuni liikmemaksu
                                                    tasumiseni. Sisseastumis- ja
                                                    liikmemaksu suuruse ja tasumise muud tingimused otsustab
                                                    üldkoosolek.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.7. Liikmel on õigus:
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.7.1. võtta hääleõiguslikult osa ELRÜ üldkoosolekutest või volitada
                                                    kirjalikult enda
                                                    esindamiseks üldkoosolekul mõne
                                                    teise ühingu liikme. Üks ELRÜ liige saab volikirja alusel
                                                    üldkoosolekul esindada kuni
                                                    nelja ELRÜ liiget.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.7.2. valida ja olla valitud ELRÜ juhtorganitesse.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.7.3. saada informatsiooni ELRÜ tegevuse kohta.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.7.4. lahkuda ELRÜ-st esitades juhatusele kirjalikku avalduse.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.8. Liikmel on kohustus:
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.8.1. täita käesolevat põhikirja ja ELRÜ juhtorganite otsuseid.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.8.2. tasuda õigeaegselt liikmetele kehtestatud makse.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.8.3. teatada juhatusele oma isiku- või registrikood ja
                                                    kontaktandmed ning muudatused
                                                    neis.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.9. Liikme võib juhatus ELRÜ-st välja arvata, kui liige::
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.9.1. on eksinud ELRÜ põhikirja, juhtorganite otsuste või EKL-i
                                                    normatiivaktide ja
                                                    labradori retriivereid puudutavate
                                                    eeskirjade vastu.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.9.2. on kahjustanud ELRÜ mainet või eksinud heade tavade vastu.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    3.9.3. ELRÜ-st välja arvatule või lahkunud liikmele ei tagastata
                                                    liikmeks astumisega
                                                    seotud makse.
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="rules__accordion-item rules__dropdownlink" aria-hidden="true">
                                                <div class="rules__accordion-header">
                                                    <h5>4. JUHTIMINE</h5>
                                                </div>
                                                <img class="rules__accordion-arrow"
                                                    src="../assets/img/icons/double-arrow-down.png" alt="arrow">
                                            </div>
                                            <ul class="rules__submenuItems">
                                                <li class="rules__submenuItems-link">
                                                    ELRÜ kõrgeimaks juhtorganiks on üldkoosolek, mille õigused ja
                                                    kohustused tulenevad
                                                    seadusest.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.1. Üldkoosolek toimub vähemalt kord aastas.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.2. Üldkoosoleku kutsub kokku ja valmistab ette ELRÜ juhatus.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.2.1. üldkoosoleku toimumisajast ja päevakorrast teavitatakse
                                                    liikmeid vähemalt 14
                                                    päeva enne koosoleku toimumist
                                                    ühingu kodulehel.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.2.2. üldkoosoleku otsused võetakse vastu lihthäälteenamusega.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.2.3. üldkoosolek on otsustusvõimeline sõltumata osalejate arvust.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.3. Erakorralise üldkoosoleku võib kokku kutsuda põhjust ära
                                                    näidates juhatus või
                                                    vähemalt 1/10 ühingu liikmetest.:
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.3.1. erakorralise üldkoosoleku toimumisajast ja päevakorrast
                                                    teavitatakse liikmeid
                                                    vähemalt 14 päeva enne koosoleku
                                                    toimumist ühingu kodulehel.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.3.2. erakorralise üldkoosoleku otsused võetakse vastu
                                                    lihthäälteenamusega.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.3.3. erakorraline üldkoosolek on otsustusvõimeline sõltumata
                                                    osalejate arvust.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.4. Üldkoosoleku pädevuses on kõik ELRÜ-ga seotud küsimused,
                                                    sealhulgas:
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.4.1. ühingu tegevussuundade määramine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.4.2. põhikirja muudatuste ja täienduste vastuvõtmine, kui selle
                                                    poolt on vähemalt pool
                                                    koosolekul esindatud
                                                    liikmetest.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.4.3. juhatuse poolt esitatud majandusaasta aruande ja
                                                    tegevusaruande kinnitamine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.4.4. sisseastumis- ja liikmemaksude suuruse määramine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.4.5. ELRÜ juhatuse liikmete ja asendusliikmete valimine ELRÜ
                                                    liikmete seast,
                                                    tagasikutsumine ja ühingust
                                                    väljaarvamine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.4.6. ELRÜ revidendi valimine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    4.4.7. revident ei tohi olla ELRÜ juhatuse liige.
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="rules__accordion-item rules__dropdownlink" aria-hidden="true">
                                                <div class="rules__accordion-header">
                                                    <h5>5. ELRÜ juhatus</h5>
                                                </div>
                                                <img class="rules__accordion-arrow"
                                                    src="../assets/img/icons/double-arrow-down.png" alt="arrow">
                                            </div>
                                            <ul class="rules__submenuItems">
                                                <li class="rules__submenuItems-link">
                                                    5.1. ELRÜ juhatus on juhtimisorgan, mis esindab ja juhib ELRÜ-d
                                                    selle igapäevases
                                                    tegevuses.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.2. ELRÜ juhatus on 3 kuni 7 liikmeline ja valitakse kolmeks
                                                    aastaks.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.2.1. juhatusel on 2 asendusliiget.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3. ELRÜ juhatuse pädevuses on:
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.1. ELRÜ jooksva töö ja asjaajamise ning raamatupidamise
                                                    korraldamine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.2. ELRÜ liikmete vastuvõtmine, väljaarvamine ja registri
                                                    pidamine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.3. tasuliste teenuste hinna määramine, raha kogumine ja
                                                    laekumise jälgimine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.4. liikmemaksude laekumise jälgimine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.5. koolitusseminaride, näituste, väljaõppe, tõuomaste katsete ja
                                                    koolituste ning
                                                    muude ürituste korraldamine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.6. tõualase kirjanduse ja materjali kogumine, töötlemine ja
                                                    väljaandmine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.7. kasvatus- ja aretustöö ning tõuomaste katsete
                                                    koordineerimine, seda puudutavate
                                                    normide väljatöötamine, vastavate
                                                    erilubade väljastamine ja normide täitmise jälgimine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.8. ELRÜ rahaliste vahendite ja omandi eesmärgipärase kasutamise
                                                    ning
                                                    raamatupidamisarvestuse tagamine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.9. majandusaasta aruande ja bilansi ning tegevusaruande
                                                    esitamine üldkoosolekule ja
                                                    Äriregistrile.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.10. üldkoosoleku kokkukutsumine ja päevakorra ettevalmistamine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.11. üldkoosolekul vastuvõetud otsuste elluviimine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.12. ELRÜ esindamine, ELRÜ liikmete huvide eest seismine ja
                                                    lepingute sõlmimine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.13. toimkondade ja töörühmade moodustamine ja neile volituste
                                                    andmine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.14. põhivahendite soetamine, rentimine ja võõrandamine,
                                                    käibevahendite seisu
                                                    jälgimine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.15. muude küsimuste lahendamine, mis ei kuulu üldkoosoleku
                                                    ainupädevusse.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.3.16. auliikme statuudi koostamine ja kehtestamine ning auliikmete
                                                    nimetamine.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.4. Kui juhatuse liige soovib ise oma volitused lõpetada enne
                                                    tähtaega ja/või astuda
                                                    välja ühingust, peab ta esitama
                                                    juhatusele kirjaliku avalduse. Juhatuse liikme volitused loetakse
                                                    lõppenuks avalduse
                                                    esitamise hetkest.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.5. Juhatuse liige võidakse juhatuse hulgast välja arvata, juhul
                                                    kui juhatuse liige ei
                                                    osale füüsiliselt või
                                                    elektrooniliselt kolmel järjestikusel juhatuse koosolekul.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.6. Juhatus valib enda hulgast esimehe ja aseesimehe. Juhatuse
                                                    esimehe valimisel peavad
                                                    osalema kõik juhatuse liikmed.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.7. ELRÜ juhatuse esimees koordineerib juhatuse tegevust,
                                                    sealhulgas:
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.7.1. juhatab juhatuse istungeid või delegeerib juhatuse istungite
                                                    juhatamise
                                                    aseesimehele.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.7.2. käsutab juhatuse otsuste alusel ELRÜ vahendeid, sõlmib
                                                    jooksva tegevusega seotud
                                                    lepinguid, annab välja
                                                    volikirju.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.7.3. esindab ELRÜ-d käesolevate ja juhatuse poolt antud volituste
                                                    piires Eesti
                                                    Vabariigis ja välisriikides..
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.7.4. korraldab juhatuse ametliku informatsiooni levitamist ühingu
                                                    liikmetele ja
                                                    partneritele, sealhulgas korraldab
                                                    kirjavahetust ja teadete saatmist. ELRÜ liikmete kirjalikuks
                                                    teavitamiseks loetakse
                                                    teadete saatmist e-kirja või
                                                    lihtkirja teel.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.8. Juhatuse kõikidel liikmetel on õigus esindada ELRÜ-d kõigis
                                                    õigustoimingutes,
                                                    omades selleks juhatuse otsusega
                                                    antud volitust.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.9. Juhatus tuleb kokku esimehe või aseesimehe kutsel või kui seda
                                                    nõuab vähemalt pool
                                                    juhatuse liikmetest. Juhatuse
                                                    koosolekud toimuvat vähemalt neli korda aastas, vajadusel
                                                    sagedamini.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.10. Juhatusel on õigus koosolekut korraldada ka elektroonilises
                                                    vormis.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.11. Juhatus on otsustusvõimeline, kui kohal viibivad vähemalt
                                                    pooled selle liikmetest,
                                                    sealhulgas esimees või
                                                    aseesimees. Juhatuse otsused võetakse vastu lihthäälteenamusega.
                                                    Häälte jagunemisel
                                                    võrdselt on otsustav juhatuse
                                                    esimehe hääl.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    5.12. Juhatuse korralised koosolekud on avatud ühingu liikmetele.
                                                    Korralise koosoleku
                                                    kuupäevast ja toimumisajast peab
                                                    teavitama ühingu liikmeid ELRÜ kodulehel vähemalt 14 päeva enne
                                                    koosoleku toimumist.
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="rules__accordion-item rules__dropdownlink" aria-hidden="true">
                                                <div class="rules__accordion-header">
                                                    <h5>6. RAHALISED VAHENDID</h5>
                                                </div>
                                                <img class="rules__accordion-arrow"
                                                    src="../assets/img/icons/double-arrow-down.png" alt="arrow">
                                            </div>
                                            <ul class="rules__submenuItems">
                                                <li class="rules__submenuItems-link">
                                                    6.1. ELRÜ rahalised vahendid moodustavad:
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    6.1.1. sisseastumis- ja liikmemaksud.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    6.1.2. tulud näituste, ürituste ja kursuste korraldamisest;
                                                    reklaami, erialakirjanduse
                                                    ja muu ELRÜ tegevusega seotud
                                                    materjalide vahendamisest ja realiseerimisest.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    6.1.3. sponsorite eraldised.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    6.1.4. annetused, kingitused ja lepingulisest tegevusest saadav tulu
                                                    oma põhikirjaliste
                                                    tegevusaladega seotud ülesannete
                                                    täitmisel.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    6.2. ELRÜ rahalisi vahendeid kasutatakse ainult ELRÜ juhatuse
                                                    esimehe või aseesimehe
                                                    korraldusel ja juhatuse täielikul
                                                    nõusolekul alljärgnevalt:
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    6.2.1. kohustuslike maksete ja eraldiste tegemiseks.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    6.2.2. ELRÜ materiaalsete kulutuste katteks, sh ürituste
                                                    korraldamisega seotud kulude
                                                    katteks.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    6.2.3. teenuste eest maksmiseks.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    6.2.4. töötasude maksmiseks.
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="rules__accordion-item rules__dropdownlink" aria-hidden="true">
                                                <div class="rules__accordion-header">
                                                    <h5>7. ARUANDLUS JA REVIDEERIMINE</h5>
                                                </div>
                                                <img class="rules__accordion-arrow"
                                                    src="../assets/img/icons/double-arrow-down.png" alt="arrow">
                                            </div>
                                            <ul class="rules__submenuItems">
                                                <li class="rules__submenuItems-link">
                                                    7.1. ELRÜ aruandeperioodiks on kalendriaasta. Majandusaasta algus on
                                                    01. jaanuaril ja
                                                    lõpp 31. detsembril
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    7.2. ELRÜ teostab raamatupidamist vastavalt seadusandlusele ning
                                                    ELRÜ juhatus esitab
                                                    seadusandlusega ettenähtud korras
                                                    aruanded pädevatele riigiorganitele ning võimaldab oma
                                                    majandustegevuse kontrollimist.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    7.3. ELRÜ majandustegevust, selle vastavust ELRÜ põhikirjale ning
                                                    vahendite sihipärast
                                                    ja otstarbekohast kasutamist
                                                    kontrollib revident.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    7.4. Finantstegevust revideeritakse vähemalt üks kord aastas.
                                                    Revident esitab oma
                                                    aruande üldkoosolekule.
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="rules__accordion-item rules__dropdownlink" aria-hidden="true">
                                                <div class="rules__accordion-header">
                                                    <h5>8. ELRÜ LIKVIDEERIMINE JA JÄRELEJÄÄNUD VARA JAGAMINE</h5>
                                                </div>
                                                <img class="rules__accordion-arrow"
                                                    src="../assets/img/icons/double-arrow-down.png" alt="arrow">
                                            </div>
                                            <ul class="rules__submenuItems">
                                                <li class="rules__submenuItems-link">
                                                    8.1. ELRÜ likvideerimine ja järelejäänud vara jagamine toimub
                                                    seaduses ettenähtud korras
                                                    ja viisil.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    Kinnitatud MTÜ Eesti Labradori Retriiverite Tõuühingu
                                                    asutamiskoosolekul Luigel,
                                                    22.06.2014.a.
                                                </li>
                                                <li class="rules__submenuItems-link">
                                                    Muudetud MTÜ Eesti Labradori Retriiverite Tõuühingu üldkoosolekul
                                                    Tallinnas 11.10.2015.a
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>

    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>
            </body>

            </html>