<%- include('./incl/header.html')%>
    <div id="info" data-current-page-id="harrastused-a"></div>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/harrastused.jpg" alt="">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Harrastused</h1>
            <p class="def-container__text text--MS">
                Labradori retriiver on väga mitmekülgne koer, kes sobib suurepäraselt nii perekoeraks kui ka jahi- ja
                töökoeraks. Retriiveri omamisel peab arvestama, et tegemist on aktiivse koeraga, kes vajab nii füüsilist
                liikumist kui ka ajutreeningut
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">Harrastused</h1>
                <p class="def-container__text text--MS">
                    Labradori retriiver on väga mitmekülgne koer, kes sobib suurepäraselt nii perekoeraks kui ka jahi-
                    ja töökoeraks. Retriiveri omamisel peab arvestama, et tegemist on aktiivse koeraga, kes vajab nii
                    füüsilist liikumist kui ka ajutreeningut
                </p>
                <span class="uudised-filter"></span>
            </div>
            <div id="harrastused"></div>
            <%- include('./incl/main-nav.html')%>
                <section class="page-content">
                    <div class="filter__wrap filter__wrap--34">
                        <div class="filter__title">
                            <h5>category Filter</h5>
                        </div>
                        <div class="filter__link">
                            <a href="../harrastused.html#harrastused">Harrastused</a>
                        </div>
                        <div class="filter__link">
                            <a href="../harrasttoukatse.html#harrastused">Tõukatse</a>
                        </div>
                        <div class="filter__link currentLink">
                            <a href="../tasemekatse.html#harrastused">Tasemekatse</a>
                        </div>
                        <div class="filter__link">
                            <a href="../muud.html#harrastused">Muud harrastused</a>
                        </div>
                    </div>
                    <section class="uudis__wrap uudis__wrap--aasta">
                        <div class="uudis__item">
                            <div class="uudis__img ibg ibg--contain ">
                                <img src="../assets/img/icons/tasemekatse.png" alt="">
                            </div>
                            <div class="uudis__info">
                                <h3 class="uudis__title text--XL">
                                    Tasemekatse
                                </h3>
                                <div class="uudis__img--mob ibg ibg--contain ">
                                    <img src="../assets/img/icons/tasemekatse.png" alt="">
                                </div>
                                <p class="uudis__text text--MS">
                                    Mis toimub retriiverite tasemekatsel?
                                </p>
                                <p class="uudis__text text--MS">
                                    Autor: Reeli Kuhi-Thalfeldt, retriiverite tõuomaste katsete koolitaja
                                </p>
                                <p class="uudis__text text--MS">
                                    Foto: Reeli Kuhi-Thalfeldt
                                </p>
                                <p class="uudis__text text--MS">
                                    Tasemekatse puhul on tegemist retriiveritele mõeldud võistlusalaga, mille eelduseks
                                    on tõukatse läbimine.
                                </p>
                            </div>
                        </div>
                        <div class="uudis__content">
                            <div class="harrast__content harrast__content--ac">
                                <div class="harrast__item harrast__item--fl67">
                                    <p class="uudis__text text--MS">
                                        Retriiverite tõuomane tasemekatse (Soomes noutajien metsästyskoe – NOME-B)
                                        eesmärgiks on hinnata koera suutlikkust ja
                                        tahet tuua ära saak veest ja maalt ning võimet toimida kasutuskõlbliku
                                        jahikoerana retriiveritele tüüpilises
                                        jahiolukorras.
                                    </p>
                                    <p class="uudis__text text--MS">
                                        Tasemekatse on ülesehitatud pidades silmas, et sooritatavad ülesanded vastaksid
                                        võimalikult palju tõelisele
                                        jahiolukorrale. Katsel antakse koerale vastavalt tema oskustele järk (I, II,
                                        III) ja tavaliselt koeri tulemuste põhjal
                                        järjekorda ei asetata. Võistlemine toimub kolmes klassis – alg, ava ja
                                        võitjaklassis ning järgmisesse klassi pääsemiseks
                                        tuleb saavutada võisteldavas klassis I järk. Katsel kasutatakse reeglina saaki,
                                        kuid võitjaklassis võidakse kasutada ka
                                        dummysid.
                                    </p>
                                    <p class="uudis__text text--MS">
                                        Retriiverite tasemekatse reeglid pärinevad Soomest, kuid samalaadseid katseid
                                        toimub ka teistes Skandinaavia maades.
                                        Esimene tasemekatse toimus Eestis 2010.a ning aastas toimub 1-2 katset. Edukatel
                                        koertel on võimalik saada ka Eesti
                                        Retriiverite Töökatsete Tsempioni (EST RT CH) tiitel, mis omistatakse koerale,
                                        kes on saanud tasemekatse võitjaklassis
                                        kolm I järku (lisaks saanud erinäituselt vähemalt hinde “hea).
                                    </p>
                                </div>
                                <div class="harrast__item harrast__item--fl30">
                                    <div class="harrast__img harrast__img--sm">
                                        <img src="../assets/img/tasemekatse1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="harrast__content harrast__content--column">
                                <div class="harrast__title">
                                    <h4 class="harrast__text text--MS">Hinnatavad omadused</h4>
                                </div>
                                <p class="uudis__text text--MS">
                                    Katse alguses eeldatakse, et jahimees on lasknud teatud koguse saaki. Mõned
                                    kukkumiskohad on täpselt teada, mõne
                                    kohta
                                    teatakse vaid ligikaudne asukoht. Katse ajal jäljendatakse osade lindude tabamist
                                    püssilasu ja viskega ning koerale
                                    antakse võimalus jätta kukkumiskohad meelde. Ülesandeid võib olla mitu nii maal kui
                                    vees.
                                </p>
                                <p class="uudis__text text--MS">
                                    Kuigi tasemekatse käigus sooritatavad ülesanded luuakse igal korral veidi erinevad
                                    vastavalt maastikule ning
                                    kujutletavale jahiolukorrale selles maastikus, sooritatakse katse jooksul kindlasti
                                    kolme liiki
                                    retriivimisülesandeid,
                                    milleks on markeerimine, juhtimine ja otsimine. Lisaks tehakse algklassis ka
                                    jäljetöö ülesanne.
                                </p>
                            </div>
                            <div class="harrast__content harrast__content--column">
                                <div class="harrast__title">
                                    <h4 class="harrast__text text--MS">Hinnatavad omadused</h4>
                                </div>
                                <p class="uudis__text text--MS">
                                    Katse alguses eeldatakse, et jahimees on lasknud teatud koguse saaki. Mõned
                                    kukkumiskohad on täpselt teada, mõne
                                    kohta
                                    teatakse vaid ligikaudne asukoht. Katse ajal jäljendatakse osade lindude tabamist
                                    püssilasu ja viskega ning koerale
                                    antakse võimalus jätta kukkumiskohad meelde. Ülesandeid võib olla mitu nii maal kui
                                    vees.
                                </p>
                                <p class="uudis__text text--MS">
                                    Kuigi tasemekatse käigus sooritatavad ülesanded luuakse igal korral veidi erinevad
                                    vastavalt maastikule ning
                                    kujutletavale jahiolukorrale selles maastikus, sooritatakse katse jooksul kindlasti
                                    kolme liiki
                                    retriivimisülesandeid,
                                    milleks on markeerimine, juhtimine ja otsimine. Lisaks tehakse algklassis ka
                                    jäljetöö ülesanne.
                                </p>
                            </div>
                            <div class="harrast__content harrast__content--ac">
                                <div class="harrast__item">
                                    <div class="harrast__img harrast__img--sm">
                                        <img src="../assets/img/tasemekatse2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="harrast__item">
                                    <div class="harrast__title">
                                        <h4 class="harrast__text text--MS">Markeerimisülesanne</h4>
                                    </div>
                                    <p class="uudis__text text--MS">
                                        Markeerimisülesandel hinnatakse koera võimet määrata saagi kukkumiskoht ja seda
                                        meelde jätta. Tavaliselt tehakse üks või
                                        kaks viset kas maalt või paadist vette või roostikku. Saagi kukkumist on koeral
                                        võimalik jälgida ning koos visetega
                                        tehakse ka püssilasud. Saades loa, peab koer kukkunud saagi ära tooma. Suunavaid
                                        käsklusi ei tohi seejuures kasutada.
                                    </p>
                                </div>
                            </div>
                            <div class="harrast__content harrast__content--column">
                                <p class="uudis__text text--MS">
                                    Algklassis võib markeerimisülesanne koosneda kahest ühekordsest markeeringust, mis
                                    tähendab, et koos püssilasuga
                                    visatakse lind ning koer lubatakse peale seda saaki tooma, seejärel tehakse sama
                                    veelkord uuesti. Avaklassis ja
                                    vahel ka
                                    algklassis tehakse aga kohe kahene markeering, mis tähendab, et esimese püssilasuga
                                    visatakse esimene lind ning
                                    teise
                                    püssilasuga teine lind. Koer peab senikaua ootama ning ära tooma mõlemad linnud.
                                    Võitjaklassis võidakse ka määrata
                                    kumb
                                    visatud lindudest tuleb tuua ära esimesena.
                                </p>
                                <p class="uudis__text text--MS">
                                    Algklassis tehakse markeeringud selliselt, et neist ühe kukkumiskohta koer näeb ning
                                    teise täpne koht pole nähtav,
                                    näiteks üks visatakse avavette ja teine roostikku. Avaklassis ei ole aga enam
                                    kummagi viske täpne asukoht kaugelt
                                    nähtav
                                    ning võitjaklassis võidakse teha ka kolmene markeering.
                                </p>
                            </div>
                            <div class="harrast__content harrast__content--column">
                                <div class="harrast__title">
                                    <h4 class="harrast__text text--MS">Juhtimisülesanne</h4>
                                </div>
                                <p class="uudis__text text--MS">
                                    Juhtimisülesande puhul ei tea koer saagi asukohta ning koerajuhi ülesandeks on
                                    häälkäsklusi, käemärke ja ka vilet
                                    kasutades juhatada koer soovitud kohta. Koer ei tohi antud ülesannet lahendada
                                    otsinguna, vaid peab lähtuma
                                    liikumisel
                                    koerajuhi käsklustest – edasi, parem, vasak, stop/seis, otsi, mida antakse
                                    häälkäskluse ning käemärkidega.
                                </p>
                                <p class="uudis__text text--MS">
                                    Algklassis on juhtimisülesande eesmärgiks, et koer suudaks sirgjooneliselt edasi
                                    liikuda 30-40 m. Avaklassis on
                                    juhtimisülesande sooritamiseks vajalik kasutada ka juba teisi suunamiskäsklusi ning
                                    vahemaa on pikem. Alates
                                    avaklassist
                                    võib juhtimisülesanne toimuda vees, võitjaklassis algusega juba kaldast eemalt
                                    maastikust suundudes edasi vette.
                                </p>
                            </div>
                            <div class="harrast__content harrast__content--ac">
                                <div class="harrast__item">
                                    <div class="harrast__title harrast__title--right">
                                        <h4 class="harrast__text text--MS">Otsimisülesanne</h4>
                                    </div>
                                    <p class="uudis__text uudis__text--end text--MS">
                                        Otsimisalale on sarnaselt tõukatsega paigutatud teatud arv linde, kuid võrreldes
                                        tõukatsega on äratoomisvahemaad pikemad
                                        (kuni 150m). Osa või koguni terve otsingualast võib olla roostikus ja vees.
                                        Koera juhtimine otsingualal pole lubatud,
                                        koer peab töötama iseseisvalt. Hea tulemuse saavutamiseks peaks koer töötama
                                        otsingualal saagi leidmiseni, korduvalt
                                        tühjalt koerajuhi juurde naasmine võib alandada järku.
                                    </p>
                                </div>
                                <div class="harrast__item">
                                    <div class="harrast__img harrast__img--sm">
                                        <img src="../assets/img/tasemekatse3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="harrast__content harrast__content--column">
                                <div class="harrast__title">
                                    <h4 class="harrast__text text--MS">Jäljeülesanne</h4>
                                </div>
                                <p class="uudis__text text--MS">
                                    Jälg veetakse ainult algklassis ning seda vaid I järgu vääriliselt tööd teinud koertele
                                    ja selle pikkus on umbes 200 m.
                                    Koerale ei näidata jälje algust, vaid ta saadetakse jälje suunas umbes 10 m kauguselt.
                                </p>
                                <p class="uudis__text text--MS">
                                    Vastavalt võistlusklassile tehakse ülesanded keerulisemaks pikendades vahemaid,
                                    suurendades visatava saagi arvu ning
                                    raskendades maastikku. Algklassis on katse toimumise ala taimestik suhteliselt avatud
                                    nii vees kui ka maastikul, kuid
                                    siiski piisavalt tihe, et saak oleks enamus ülesannete puhul väljaspool koera
                                    nägemisulatust. Avaklassis on taimestik
                                    tihe nii vees kui ka maastikul. Mida kõrgem võistlusklass, seda enam ülesandeid tuleb
                                    sooritada vees. Võitjaklassis
                                    toimub suurem osa katsest juba veetööna.
                                </p>
                            </div>
                            <div class="harrast__title">
                                <h4 class="harrast__text text--MS">Valmistumine tasemekatseks</h4>
                            </div>
                            <p class="uudis__text text--MS">
                                Tõukatse läbinuna peaks koer oskama tuua esemeid maalt ja veest, otsida ning jälge
                                ajada. Tasemekatseks valmistumisel
                                tuleb koerale õpetada lisaks suunamist – õpetada koera liikuma edasi, paremale või
                                vasakule ning peatuma. Juhul, kui
                                koera oskab edasi liikuda juba pikal distantsil, siis võib algklassis saada
                                suunamisülesandel hakkama teisi
                                suunamiskäsklusi kasutamata. Seega ei pea selles klassis võistlemiseks veel teised
                                suunavad käsklused selged olema.
                            </p>
                            <p class="uudis__text text--MS">
                                Samuti peaks harjutatama täpsemat markeerimist ehk saagi kukkumiskoha määramist ning
                                teha mälutreeningut, kus tuleb
                                mitme eseme kukkumiskohad meelde jätta.
                            </p>
                            <p class="uudis__text text--MS">
                                Kogu katse vältel peab koer olema ilma rihmata, mis eeldab koeralt head kuulekust ning
                                koostööd koerajuhiga. Saaki tooma
                                minna tohib koer vaid koerajuhilt selleks loa saades ja koer peab suutma jääda paigale
                                ka püssilasu kõlades.
                                Võitjaklassis võib töö toimuda paaristööna ning siis peab koer jälgima teise koera tööd
                                ise samal ajal rahulikuks ja
                                vaikseks jäädes.
                            </p>
                            <p class="uudis__text text--MS">
                                Kui tõukatsel on reeglina kasutatakse parte ja faasaneid, siis tasemekatsel on lisaks
                                kasutusel ka varesed ja kajakad.
                                Seega tuleb koerale tutvustada erinevat saaki. Otsingualalt võib leida kõiki linde ning
                                vahel pannakse sinna ka jänes.
                            </p>
                            <p class="uudis__text text--MS">
                                Lisaks pööratakse rohkem tähelepanu saagi loovutamisele, sest tasemekatsel peaks koer
                                tooma saagi koerajuhile kätte ning
                                korduv saagi maha pillamine või saagi mitte kätte toomine alandavad järku.
                            </p>
                            <p class="uudis__text text--MS">
                                Tasemekatseks valmistumisel tuleb koeraga teha erinevaid suunamisharjutusi, harjutada
                                nii põllul, metsas, roostikus kui
                                ka vees ning pikendada äratoomise vahemaad ja otsinguala ulatust. Katsete eel on kasulik
                                teha koos teiste koerte ja
                                koerajuhtidega trenni, et koerad harjuksid töötama ka häirijate juuresolekul.
                                Ühistreeningud on mugavad ka selle tõttu,
                                kuna mitmete harjutuste edukaks läbiviimiseks on vajalik abiliste olemasolu.
                            </p>
                        </div>
                    </section>
                </section>
        </div>

    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>