<%- include('./incl/header.html')%>
    <div id="info" data-current-id="toukatse" data-main-menu-current-id="toukatse-a"></div>
    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/uritused.jpg" alt="uhing">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Üritused
                Kuhu minna labradoriga ? Tulevad näitused ja tõukatsed.
                </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">Üritused</h1>
                <p class="def-container__text">
                    Kuhu minna labradoriga ? Tulevad näitused ja tõukatsed.
                </p>
                <span class="uudised-filter"></span>
            </div>
            <%- include('./incl/main-nav.html')%>
                <section id="toukat" class="uudised__wrap">
                    <section class="uudis__wrap">
                        <div class="uudis__item">
                            <div class="uudis__img ibg ibg--cover ">
                                <img src="../assets/img/uudis1.jpg" alt="">
                            </div>
                            <div class="uudis__info">
                                <h3 class="uudis__title text--XL">
                                    Springshow 2021 eelinfo (toukatse)
                                </h3>
                                <div class="uudis__img--mob ibg ibg--cover ">
                                    <img src="../assets/img/uudis1.jpg" alt="">
                                </div>
                                <p class="uudis__text text--M">
                                    Meie ülevaatusnäituse eesmärgiks on hinnata, milline on Eestis labradoride järelkasv
                                    ning kuidas elavad meie eakamad
                                    koerad. Samuti anda vähese näitusekogemusega koertele võimalus harjutada rõõmsas ja
                                    sõbralikus keskkonnas tulevasteks
                                    näitusteks. Lisaks saab tõugu tundva inimese hinnangu oma koera välimikule.See on
                                    erakordne võimalus veeta tore päev
                                    teiste labradoride ja nende omanike seltsis, saab õppida, teistega suhelda.
                                </p>
                            </div>
                        </div>
                        <div class="uudis__content">
                            <p class="uudis__text text--M">
                                Registreerimiseks on vajalikud järgmised dokumendid:1) Täidetud registreerimisleht või
                                täidetud google vorm
                                https://docs.google.com/…/1FAIpQLSeeAk0lbWfNuM…/viewform2) Koera tõutunnistuse koopia,
                                juhul kui koer ei ole
                                EST-registris3) Maksekorralduse koopiaKõik dokumendid tuleb saata korraga meilile
                                springshow@labrador.ee.Mõne eeltoodud
                                dokumendi puudumisel koera näitusele ei registreerita.
                            </p>
                            <p class="uudis__text text--M">
                                Palun kontrollige oma kirja kohalejõudmist, kui te ei ole 10 päeva jooksul saanud
                                kinnitust organisaatorite poolt. NB!
                                Iga osaleja saab kirjeldust oma koerast ja kingitusNB! Iga hindamisklassi parim isane ja
                                emane võistleb Best in show’l
                                Springshow winner 2022 nimetusele.NB! Iga koera armastaja saab hea tuju ja palju rõõmu
                                Kuidas registreerida oma koera
                                meie näitusele
                            </p>
                            <p class="uudis__text text--M">
                                Registreerimistasu palume kandaSaaja: maksta Eesti Labradori Retriiverite TõuühinguSaaja
                                arveldusarvele
                                EE742200221060278981Selgitus:SPRINGSHOW , KOERA ametliknimi (nii nagu kirjas
                                tõutunnistuses), REG Nr, (tõutunnistuse
                                järgi), omaniku nimi
                            </p>
                            <p class="uudis__text text--M">
                                NB! Registreerimine toimub kuni 09.05.2022.a., alatest 10.05.2022.a, nii kaua kui see on
                                tehniliselt võimalik
                                (kokkulepel korraldajaga) INFO: springshow@labrador.ee Kohtumiseni 15.05.2022 Tagadil!
                            </p>
                        </div>
                        <div class="uudis__item">
                            <div class="uudis__img uudis__img--mob ibg ibg--cover">
                                <img src="../assets/img/uudis2.jpg" alt="">
                            </div>
                            <div class="uudis__img uudis__img--mob ibg ibg--cover">
                                <img src="../assets/img/uudis2.jpg" alt="">
                            </div>
                        </div>
                    </section>
                    <div class="uudised__switch">
                        <a id="new" href="#" class="switch__link text--M current-link">
                            Tegelikud toukatse
                        </a>
                        <a id="old" href="#" class="switch__link text--M">
                            Toimunud toukatse
                        </a>
                    </div>
                    <div id="old-item" class="uudised-content__wrap">
                        <div class="naituse-content__item">
                            <a href="../toukat.html#toukat" class="naituse-content__link"></a>
                            <div class="naituse-content__img ibg ibg--cover">
                                <img src="../assets/img/uudised-item.jpg" alt="">
                            </div>
                            <div class="naituse-content__info">
                                <p class="naituse-content-info__date text--S">10 april, 2017</p>
                                <p class="naituse-content-info__date text--S">Tallinn, Estonia</p>
                                <p class="naituse-content-info__title text--MS">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                    sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="naituse-content__item">
                            <a href="../toukat.html#toukat" class="naituse-content__link"></a>
                            <div class="naituse-content__img ibg ibg--cover">
                                <img src="../assets/img/uudised-item.jpg" alt="">
                            </div>
                            <div class="naituse-content__info">
                                <p class="naituse-content-info__date text--S">10 april, 2017</p>
                                <p class="naituse-content-info__date text--S">Tallinn, Estonia</p>
                                <p class="naituse-content-info__title text--MS">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                    sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="naituse-content__item">
                            <a href="../toukat.html#toukat" class="naituse-content__link"></a>
                            <div class="naituse-content__img ibg ibg--cover">
                                <img src="../assets/img/uudised-item.jpg" alt="">
                            </div>
                            <div class="naituse-content__info">
                                <p class="naituse-content-info__date text--S">10 april, 2017</p>
                                <p class="naituse-content-info__date text--S">Tallinn, Estonia</p>
                                <p class="naituse-content-info__title text--MS">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                    sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="new-item" class="uudised-content__wrap active">
                        <div class="naituse-content__item">
                            <a href="../toukat.html#toukat" class="naituse-content__link"></a>
                            <div class="naituse-content__img ibg ibg--cover">
                                <img src="../assets/img/puppies.jpg" alt="">
                            </div>
                            <div class="naituse-content__info">
                                <p class="naituse-content-info__date text--S">10 april, 2017</p>
                                <p class="naituse-content-info__date text--S">Tallinn, Estonia</p>
                                <p class="naituse-content-info__title text--MS">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                    sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="naituse-content__item">
                            <a href="../toukat.html#toukat" class="naituse-content__link"></a>
                            <div class="naituse-content__img ibg ibg--cover">
                                <img src="../assets/img/puppies.jpg" alt="">
                            </div>
                            <div class="naituse-content__info">
                                <p class="naituse-content-info__date text--S">10 april, 2017</p>
                                <p class="naituse-content-info__date text--S">Tallinn, Estonia</p>
                                <p class="naituse-content-info__title text--MS">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                    sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="naituse-content__item">
                            <a href="../toukat.html#toukat" class="naituse-content__link"></a>
                            <div class="naituse-content__img ibg ibg--cover">
                                <img src="../assets/img/puppies.jpg" alt="">
                            </div>
                            <div class="naituse-content__info">
                                <p class="naituse-content-info__date text--S">10 april, 2017</p>
                                <p class="naituse-content-info__date text--S">Tallinn, Estonia</p>
                                <p class="naituse-content-info__title text--MS">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                                    sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="read-more__wrapper">
                        <div class="read-more readmore">
                            <button class="read-more__btn btn btn--white">
                                <a href="../toukatse.html" class="read-more__text-more text--M">vaata kõiki
                                    toukatse</a>
                            </button>
                        </div>
                    </div>
                </section>
        </div>

    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>