<%- include('./incl/header.html')%>

    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/labrador.jpg" alt="uhing">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Labrador</h1>
            <p class="def-container__text">
                Paljude koerahuviliste jaoks on Labradori retriiver jätkuvalt üheks kõige populaarsemaks koeratõuks kogu
                maailmas.
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">Labrador</h1>
                <p class="def-container__text">
                    Paljude koerahuviliste jaoks on Labradori retriiver jätkuvalt üheks kõige populaarsemaks koeratõuks
                    kogu maailmas.
                </p>
                <span class="uudised-filter"></span>
            </div>
            <%- include('./incl/main-nav.html')%>
                <div id="info" data-current-id="toust" data-main-menu-current-id="toust-a"></div>
                <section id="toust" class="uudised__wrap">
                    <section class="uudis__wrap">
                        <div class="uudis__item">
                            <div class="uudis__img ibg ibg--contain ">
                                <img src="../assets/img/icons/toust.png" alt="">
                            </div>
                            <div class="uudis__info">
                                <h3 class="uudis__title text--XL">
                                    Tõust
                                </h3>
                                <div class="uudis__img--mob ibg ibg--contain ">
                                    <img src="../assets/img/icons/toust.png" alt="">
                                </div>
                                <p class="uudis__text text--MS">
                                    Labrador on üks maailma ja ka Eesti populaarsematest koeratõugudest. Labradorid on
                                    veelinnukoerad, kes otsivad
                                    roostikust ja veest lastud linde ja toovad saagi peremehele kätte. Neid kasutatakse
                                    ka haavatud ulukite otsimisel,
                                    narkokoertena, pommikoertena, pimedate juhtkoerena, teraapiakoertena jne.
                                </p>
                                <p class="uudis__text text--MS">
                                    Labradori retriiver on erakordselt sõbralik, intelligentne, terane ja sõnakuulelik.
                                    Leebe loomusega, ilma igasuguse
                                    agressiooni või põhjuseta arguse märgita. Neid on väga kerge õpetada, sest soov
                                    inimesele meeldida on neis suur. Nad
                                    saavad suurepäraselt hakkama ka väikeste laste ja koduloomadega.
                                </p>
                            </div>
                        </div>
                        <div class="uudis__content">
                            <p class="uudis__text text--MS">
                                Labradorid on aktiivsed ja alati tegutsemisvalmid koerad, kes armastavad vett. Varvaste
                                vahel olevad lestad teevad neist
                                suurepärased ujujad. Nende karvastik on suhteliselt veekindel ning paks aluskarv
                                võimaldab ujuda ka külmas vees.
                                Labradorid on ka väga aplad. Nende aplust ära kasutades on võimalik neile õpetada
                                erinevaid trikke, viia läbi
                                kuulekuskoolitust või treenida agilityt. Nad armastavad kohutavalt vett ja ujuda, neil
                                on suur töötahe, otsimis- ja
                                äratoomissoov. Siiski pole nad imekoerad – nad vajavad õpetamist.
                            </p>
                            <p class="uudis__text text--MS">
                                Labradori retriivereid on kolme värvi – musti, pruune ja kollaseid. Kollane värv võib
                                varieeruda heledast kreemkollasest
                                kuni rebasepunaseni. Labradori karv on lühike ja sirge ning nad ajavad karva kaks korda
                                aastas. Labradorid on tugeva
                                kehaehitusega, turjakõrgus on isastel 56-57 cm, emastel 54-56 cm. Labrador vajab oma
                                apluse tõttu kaalujälgimist, et
                                heas vormis püsida.
                            </p>
                        </div>
                        <div class="uudis__item">
                            <div class="toust__wrap">
                                <div class="toust__item">
                                    <div class="toust__title">
                                        <h4 class="toust__title-text">
                                            Tõu ajalugu
                                        </h4>
                                    </div>
                                    <div class="toust__content">
                                        <p class="toust__content-text text--MS">
                                            Labradori retriiveri tõug on alguse saanud Labradori poolsaarelt
                                            Newfoundlandi saarel, kus neid koeri kasutati
                                            kalameeste abilistena veest võrkude välja tirimisel.
                                            <span class="read__hide" data-readmore-identifier="readmore">
                                                Osad neist olid suuremad, neid peetakse njuufade eellasteks, teised
                                                olid väiksemad ja neid kutsuti St. John’i koerteks ja tõenäoliselt
                                                aretatigi labrador just nendest. Meremehed tõid neid
                                                koeri kaasa Inglismaale, kus leiti nad olevat väärt abilised linnujahil.
                                            </span>
                                        </p>
                                        <span class="read__hide" data-readmore-identifier="readmore">
                                            <div class="toust__content-wrap">
                                                <p class="toust__content-text text--MS">
                                                    Tõu sihipärane areng sai alguse Inglismaalt ning esimesed märkmed
                                                    tõu
                                                    eellastest on pärit 1814. aastast. Esialgu
                                                    nimetati seda tüüpi Inglismaale Newfoundlandi saarelt imporditud
                                                    koeri
                                                    „St. Johni koerteks”. Alles 60 aastat hiljem
                                                    hakati kutsuma neid musti, vahel valge märgistusega koeri labradori
                                                    retriiveriks. Algusest peale hoiti kõrgelt au
                                                    sees
                                                    koerte veearmastust, eraldi märgitakse mitmetes dokumentides ära
                                                    nende
                                                    kõige tõuomasemaid tunnuseid: vetthülgav
                                                    topeltkarv ja saarmasaba. Labradori retriiveri dominantne värv on
                                                    must.
                                                    Hilisemad ristamised tõid nende mustade
                                                    (valgete
                                                    käppade ning koonuga) tõus esile ka pruuni ja kollase värvi ning
                                                    peagi
                                                    tunnustati neid värve kui ametlikke labradori
                                                    retriiveri värve. 1903. aastal tunnustas ka Inglismaa Kennel klubi
                                                    labradori retriiverit eraldi tõuna.
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Tõug on mitmel pool jagunenud kaheks: näituse- ning tööliiniks. See
                                                    on
                                                    olnud osaliselt paratamatu, kuna selle tõu
                                                    algne
                                                    kasutusala – jaht – on tänapäeva ühiskonnas siiski väiksema
                                                    seltskonna
                                                    inimeste hobitegevusala, labrador on aga
                                                    inimese
                                                    hea kaaslasena kohanenud ka teisteks tegevusteks, mis pole talle
                                                    algupäraselt tõuomased (töö-, abi-, juht-,
                                                    teraapia- ,
                                                    narko- ja pommikoerana, harrastuskoerana).
                                                </p>
                                            </div>
                                            <div class="toust__content-pictures">
                                                <div class="content-pictures">
                                                    <img class="content-pictures__img" src="../assets/img/toust1.jpg"
                                                        alt="">
                                                </div>
                                            </div>
                                        </span>
                                        <btn class="read readmore" id="readmore">
                                            <svg class="toust__arrow">
                                                <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                            </svg>
                                        </btn>
                                    </div>
                                </div>
                                <div class="toust__item">
                                    <div class="toust__title">
                                        <h4 class="toust__title-text">
                                            Labradori
                                            retriiverid Eestis
                                        </h4>
                                    </div>
                                    <div class="toust__content">
                                        <p class="toust__content-text text--MS">
                                            Esimene labradori retriiver jõudis Eestisse 1982. aastal ja ennekõike kasutati neid sissetoodud koeri aretuses
                                            eesmärgiga saada koeri tööle narkokoerteks, pommikoerteks ja pimedate juhtkoerteks.
                                            <span class="read__hide" data-readmore-identifier="readmore2">
                                                Liinid olid pärit Lätist, Venemaalt ja Soomest ja töötasid edukalt. Iseloomu osas oldi tollal tolerantsemad
                                                agressiivsuse ja rivaalitunde suhtes. Alates 2000. aastast on Eestisse imporditud mitmeid koeri välisriikidest, näiteks
                                                Soomest, Inglismaalt, USA-st, Itaaliast, Prantsusmaalt, Venemaalt, Leedust, Lätist, Tsehhist, Poolast ja Saksamaalt.
                                                Eestis ei ole veel liinid jagunenud kaheks, töö- ja näituseliiniks, kuigi on sisse toodud koeri mõlemast liinist.
                                            </span>
                                        </p>
                                        <span class="read__hide" data-readmore-identifier="readmore2">
                                            <div class="toust__content-wrap">
                                                <p class="toust__content-text text--MS">
                                                    Tõug on mitmel pool jagunenud kaheks: näituse- ning tööliiniks. See
                                                    on
                                                    olnud osaliselt paratamatu, kuna selle tõu
                                                    algne
                                                    kasutusala – jaht – on tänapäeva ühiskonnas siiski väiksema
                                                    seltskonna
                                                    inimeste hobitegevusala, labrador on aga
                                                    inimese
                                                    hea kaaslasena kohanenud ka teisteks tegevusteks, mis pole talle
                                                    algupäraselt tõuomased (töö-, abi-, juht-,
                                                    teraapia- ,
                                                    narko- ja pommikoerana, harrastuskoerana).
                                                </p>
                                            </div>
                                            <div class="toust__content-pictures">
                                                <div class="content-pictures">
                                                    <img class="content-pictures__img" src="../assets/img/toust2.jpg" alt="">
                                                    <img class="content-pictures__img" src="../assets/img/toust3.jpg" alt="">
                                                </div>
                                            </div>
                                        </span>
                                        <btn class="read readmore" id="readmore2">
                                            <svg class="toust__arrow">
                                                <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                            </svg>
                                        </btn>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
        </div>

    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>