<%- include('./incl/header.html')%>

    <section class="uhing">
        <div class="uhing-bcg ibg ibg--cover">
            <img src="../assets/img/labrador.jpg" alt="uhing">
        </div>
        <div class="def-container__info--mob">
            <h1 class="def-container__title text--XXXL">Labrador</h1>
            <p class="def-container__text">
                Paljude koerahuviliste jaoks on Labradori retriiver jätkuvalt üheks kõige populaarsemaks koeratõuks kogu
                maailmas.
            </p>
        </div>
    </section>
    <section class="def-container__wrap">
        <div class="def-container">
            <div class="def-container__info def-container__info--ud">
                <h1 class="def-container__title text--XXXL">Labrador</h1>
                <p class="def-container__text">
                    Paljude koerahuviliste jaoks on Labradori retriiver jätkuvalt üheks kõige populaarsemaks koeratõuks
                    kogu maailmas.
                </p>
                <span class="uudised-filter"></span>
            </div>
            <%- include('./incl/main-nav.html')%>
                <div id="info" data-current-id="toustandard" data-main-menu-current-id="toustandard-a"></div>
                <section id="toust" class="uudised__wrap">
                    <section class="uudis__wrap">
                        <div class="uudis__item">
                            <div class="uudis__img ibg ibg--contain ">
                                <img src="../assets/img/icons/toustandard.png" alt="">
                            </div>
                            <div class="uudis__info">
                                <h3 class="uudis__title text--XL">
                                    Tõustandard
                                </h3>
                                <div class="uudis__img--mob ibg ibg--contain ">
                                    <img src="../assets/img/icons/toustandard.png" alt="">
                                </div>
                                <p class="uudis__text text--MS">
                                    FCI – Standard nr 122 / 12.01.2011
                                </p>
                                <p class="uudis__text text--MS">
                                    LABRADORI RETRIIVER (LABRADOR RETRIEVER)

                                </p>
                                <p class="uudis__text text--MS">
                                    PÄRITOLUMAA: Suurbritannia.

                                </p>
                                <p class="uudis__text text--MS">
                                    ORIGINAALSTANDARDI AVALDAMISE AEG: 24.06.1987.

                                </p>
                                <p class="uudis__text text--MS">
                                    KEHTIVA AMETLIKU STANDARDI AVALDAMISE KUUPÄEV: 13.10.2010.

                                </p>
                                <p class="uudis__text text--MS">
                                    KASUTUS: Retriiver.

                                </p>
                                <p class="uudis__text text--MS">
                                    FCI KLASSIFIKATSIOON:
                                </p>
                                <p class="uudis__text text--MS">
                                    Rühm 8: Retriiverid, linde lenduajavad koerad ja veekoerad.

                                </p>
                                <p class="uudis__text text--MS">
                                    Alarühm 1: Retriiverid. Töökatsetega.

                                </p>
                            </div>
                        </div>
                        <div class="uudis__content">
                        </div>
                        <div class="uudis__item">
                            <div class="toust__wrap">
                                <div class="toust__item">
                                    <div class="toust__title">
                                        <h4 class="toust__title-text">
                                            LÜHIÜLEVAADE
                                            TÕU AJALOOST
                                        </h4>
                                    </div>
                                    <div class="toust__content">
                                        <p class="toust__content-text text--MS">
                                            Üldiselt arvatakse, et labradori retriiver on pärit Newfoundlandi saarelt,
                                            kus sarnase välimusega koeri kasutati
                                            kalapüügil. Tegemist on suurepärase veekoeraga, kellel on veekindel karv
                                            ning omapärane saba, mis kujult sarnaneb saarma
                                            omale.
                                            <span class="read__hide" data-readmore-identifier="readmore">
                                                Võrreldes teiste tõugudega, ei ole labrador väga vana tõug. Labradori
                                                tõuklubi moodustati 1916. aastal ning kollase
                                                labradori klubi alles 1925. aastal. Kuulsaks sai labrador
                                                maastikukatsetega ning Euroopasse jõudis tõug alles 19.
                                                sajandi lõpus Col Peter Hawkeri ning Malmesbury krahvi vahendusel. Üks
                                                tänapäeva labradori eelkäijaid oli krahvinna
                                                Lorna poolt kirjeldatud Malmesbury Tramp.
                                            </span>
                                        </p>
                                        <span class="read__hide" data-readmore-identifier="readmore">
                                            <div class="toust__content-wrap">
                                                <p class="toust__content-text text--MS">

                                                </p>
                                                <p class="toust__content-text text--MS">

                                                </p>
                                            </div>
                                            <div class="toust__content-pictures">
                                                <div class="content-pictures">

                                                </div>
                                            </div>
                                        </span>
                                        <btn class="read readmore" id="readmore">
                                            <svg class="toust__arrow">
                                                <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                            </svg>
                                        </btn>
                                    </div>
                                </div>
                                <div class="toust__item">
                                    <div class="toust__title">
                                        <h4 class="toust__title-text">
                                            ÜLDMULJE
                                        </h4>
                                    </div>
                                    <div class="toust__content">
                                        <p class="toust__content-text text--MS">
                                            Tugeva kehaehitusega, lühikese nimmosaga väga aktiivne koer (mis välistab
                                            liigse kehakaalu või raskepärase luustiku).
                                            Kolju on lai. Rinnakorv ja roided on laiad ja sügavad. Nimmeosa ja
                                            tagajäsemed on laiad ja tugevad.
                                            <span class="read__hide" data-readmore-identifier="readmore2">

                                            </span>
                                        </p>
                                        <span class="read__hide" data-readmore-identifier="readmore">
                                            <div class="toust__content-wrap">
                                                <p class="toust__content-text text--MS">

                                                </p>
                                            </div>
                                            <div class="toust__content-pictures">
                                                <div class="content-pictures">

                                                </div>
                                            </div>
                                        </span>
                                        <btn class="read readmore" id="readmore2">
                                            <svg class="toust__arrow">
                                                <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                            </svg>
                                        </btn>
                                    </div>
                                </div>
                                <div class="toust__item">
                                    <div class="toust__title">
                                        <h4 class="toust__title-text">
                                            KÄITUMINE
                                            ISELOOM
                                        </h4>
                                    </div>
                                    <div class="toust__content">
                                        <p class="toust__content-text text--MS">
                                            Tasakaaluka loomuga ning aktiivne koer. Tal on suurepärane haistmismeel ja
                                            pehme haardega lõuad. Armastab väga vett. Hea
                                            kohanemisvõimega koer, truu kaaslane.
                                            <span class="read__hide" data-readmore-identifier="readmore3">
                                                Arukas, tähelepanelik ja sõnakuulelik. Tahab väga olla peremehele meele
                                                järele. Sõbraliku loomuga, ei ole agressiivne
                                                ega põhjuseta arglik.
                                            </span>
                                        </p>
                                        <!-- <span class="read__hide" data-readmore-identifier="readmore3">
                                            <div class="toust__content-wrap">
                                                <p class="toust__content-text text--MS">

                                                </p>
                                                <p class="toust__content-text text--MS">

                                                </p>
                                            </div>
                                            <div class="toust__content-pictures">
                                               

                                            </div>
                                        </span> -->
                                        <btn class="read readmore" id="readmore3">
                                            <svg class="toust__arrow">
                                                <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                            </svg>
                                        </btn>
                                    </div>
                                </div>
                                <div class="toust__item">
                                    <div class="toust__title">
                                        <h4 class="toust__title-text">
                                            PEA
                                        </h4>
                                    </div>
                                    <div class="toust__content">
                                        <p class="toust__content-text text--MS">
                                            KOLJUPIIRKOND:
                                        </p>
                                        <p class="toust__content-text text--MS">
                                            Kolju: Lai. Selge joonega, ilma lihavate põskedeta.
                                        </p>
                                        <p class="toust__content-text text--MS">
                                            Üleminek laubalt koonule: Väljendunud.
                                        </p>
                                        <span class="read__hide" data-readmore-identifier="readmore4">
                                            <div class="toust__content-wrap">
                                                <p class="toust__content-text text--MS">
                                                    NÄOPIIRKOND:
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Ninapeegel: Lai, hästi arenenud ninasõõrmetega.
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Koon: Jõuline ja mitte terav.
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Lõuad/hambad: Keskmise pikkusega ja tugevad lõuad, tugevad hambad.
                                                    Perfektne, korrapärane ja täielik käärhambumine, mis
                                                    tähendab seda, et ülemised hambad katavad alumisi ja väljuvad
                                                    lõualuust otse.
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Silmad: Keskmise suurusega, aruka ja heatahtliku ilmega. Pruunid või
                                                    pähkelpruunid.
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Kõrvad: Ei ole suured ega rasked. Ripuvad pea lähedal ning asetsevad
                                                    kolju suhtes üsna taga.
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    KAEL: Puhas, tugev, jõuline, hästi õlgadele kinnitunud.
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    KERE:
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Ülajoon: Ühtlane.
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Nimme: Lai, lühikese nimmeosaga ning tugev
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Rindkere: Hea laiusega ja sügavusega, hästi kaarduvate roietega
                                                    tünnikujuline rinnakorv – selline ei mulje ei tohi olla
                                                    tingitud liigsest kehakaalust.
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    SABA:
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Saba on tõule väga iseloomulik. Sabatüvi on jäme ning otsa suunas
                                                    läheb saba peenemaks. Keskmise pikkusega, ilma
                                                    ehiskarvata. Saba on siiski terves ulatuses tihedalt kaetud
                                                    lühikese, paksu ja tiheda karvaga, mis annab sabale ümara
                                                    välimuse ning seetõttu nimetatakse seda ka „saarmasabaks“. Saba võib
                                                    olla ulja hoiakuga, ent mitte rõngakujuliselt selja
                                                    kohale keerdunud.
                                                </p>
                                            </div>
                                            <div class="toust__content-pictures">
                                                <div class="content-pictures">

                                                </div>
                                            </div>
                                        </span>
                                        <btn class="read readmore" id="readmore4">
                                            <svg class="toust__arrow">
                                                <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                            </svg>
                                        </btn>
                                    </div>
                                </div>
                                <div class="toust__item">
                                    <div class="toust__title">
                                        <h4 class="toust__title-text">
                                            JÄSEMED
                                        </h4>
                                    </div>
                                    <div class="toust__content">
                                        <p class="toust__content-text text--MS">
                                            ESIJÄSEMED:
                                        </p>
                                        <p class="toust__content-text text--MS">
                                            Üldmulje: Esijalad on nii eest- kui külgvaates küünarnukist maapinnani
                                            sirged.
                                        </p>
                                        <span class="read__hide" data-readmore-identifier="readmore5">
                                            <div class="toust__content-wrap">
                                                <p class="toust__content-text text--MS">
                                                    Õlad: Pikad ja kaldega.
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Küünarvarred: Tugeva luustikuga ja sirged esijalad.
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Esikäpad: Ümarad, kompaktsed, hästi kaardunud varvastega ning hästi
                                                    arenenud padjanditega.
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    TAGAJÄSEMED:
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Üldmulje: Hästi arenenud tagajäsemed, ei ole saba suunas laskuva
                                                    joonega.
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Põlveliiges (põlv): Hea paindega.
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Kannad (pöialiigesed): Kannad on väga madala asetusega. Kooskandsus
                                                    on väga ebasoovitav
                                                </p>
                                                <p class="toust__content-text text--MS">
                                                    Tagakäpad: Ümarad, kompaktsed, hästi kaardunud varvastega ning hästi
                                                    arenenud padjanditega.
                                                </p>
                                            </div>
                                            <div class="toust__content-pictures">
                                                <div class="content-pictures">

                                                </div>
                                            </div>
                                        </span>
                                        <btn class="read readmore" id="readmore5">
                                            <svg class="toust__arrow">
                                                <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                            </svg>
                                        </btn>
                                    </div>
                                </div>
                                <div class="toust__item">
                                    <div class="toust__title">
                                        <h4 class="toust__title-text">
                                            KÕNNAK
                                            LIIKUMINE
                                        </h4>
                                    </div>
                                    <div class="toust__content">
                                        <p class="toust__content-text text--MS">
                                            Vaba ning maadhaarav liikumine. Nii ees- kui tagajalade liikumine on
                                            sirgjooneline ning korrapärane.
                                        </p>
                                        <span class="read__hide" data-readmore-identifier="readmore6">
                                            <div class="toust__content-wrap">
                                                <p class="toust__content-text text--MS">

                                                </p>
                                            </div>
                                            <div class="toust__content-pictures">
                                                <div class="content-pictures">

                                                </div>
                                            </div>
                                        </span>
                                        <btn class="read readmore" id="readmore6">
                                            <svg class="toust__arrow">
                                                <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                            </svg>
                                        </btn>
                                    </div>
                                </div>
                                <div class="toust__item">
                                    <div class="toust__title">
                                        <h4 class="toust__title-text">
                                            KARVKATE
                                        </h4>
                                    </div>
                                    <div class="toust__content">
                                        <p class="toust__content-text text--MS">
                                            Karv: Tõule iseloomulik. Lühike ja tihe. Karv ei ole laineline, samuti ei
                                            esine ehiskarva. Katsudes tundub üsna karm
                                            <span class="read__hide" data-readmore-identifier="readmore7">
                                                Aluskarv on veekindel.
                                            </span>
                                        </p>
                                        <span class="read__hide" data-readmore-identifier="readmore7">
                                            <div class="toust__content-wrap">
                                                <p class="toust__content-text text--MS">
                                                    Värvus: Üleni must, kollane või maksapruun/šokolaadipruun. Kollane
                                                    värv võib varieeruda heledast kreemkollasest kuni
                                                    rebasepunaseni. Väike valge täpp rinnal on lubatud.
                                                </p>
                                            </div>
                                            <div class="toust__content-pictures">
                                                <div class="content-pictures">

                                                </div>
                                            </div>
                                        </span>
                                        <btn class="read readmore" id="readmore7">
                                            <svg class="toust__arrow">
                                                <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                            </svg>
                                        </btn>
                                    </div>
                                </div>
                                <div class="toust__item">
                                    <div class="toust__title">
                                        <h4 class="toust__title-text">
                                            SUURUS
                                        </h4>
                                    </div>
                                    <div class="toust__content">
                                        <p class="toust__content-text text--MS">
                                            Ideaalne turja kõrgus: Isased koerad: 56-57 cm. Emased koerad: 54-56 cm.
                                        </p>
                                        <!-- <span class="read__hide" data-readmore-identifier="readmore8">
                                            <div class="toust__content-wrap">
                                                <p class="toust__content-text text--MS">

                                                </p>
                                            </div>
                                            <div class="toust__content-pictures">
                                                <div class="content-pictures">

                                                </div>
                                            </div>
                                        </span> -->
                                        <btn class="read readmore" id="readmore8">
                                            <svg class="toust__arrow">
                                                <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                            </svg>
                                        </btn>
                                    </div>
                                </div>
                                <div class="toust__item">
                                    <div class="toust__title">
                                        <h4 class="toust__title-text">
                                            VEAD
                                        </h4>
                                    </div>
                                    <div class="toust__content">
                                        <p class="toust__content-text text--MS">
                                            Kõiki kõrvalekaldeid eeltoodud nõuetest tuleb lugeda vigadeks ning nende
                                            tõsiduse aste sõltub otseselt konkreetse
                                            kõrvalekalde ulatusest ning selle mõjust koera tervist ja heaolu silmas
                                            pidades

                                        </p>
                                        <span class="read__hide" data-readmore-identifier="readmore9">
                                            <div class="toust__content-wrap">
                                                <p class="toust__content-text text--MS">
                                                    Kõiki kõrvalekaldeid eeltoodud nõuetest tuleb lugeda vigadeks ning
                                                    nende tõsiduse aste sõltub otseselt konkreetse
                                                    kõrvalekalde ulatusest ning selle mõjust koera tervist ja heaolu
                                                    silmas pidades ning koera võimekusest teha tavapärast
                                                    tööd.
                                                </p>

                                            </div>
                                            <div class="toust__content-pictures">
                                                <div class="content-pictures">

                                                </div>
                                            </div>
                                        </span>
                                        <btn class="read readmore" id="readmore9">
                                            <svg class="toust__arrow">
                                                <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                            </svg>
                                        </btn>
                                    </div>
                                </div>
                                <div class="toust__item">
                                    <div class="toust__title">
                                        <h4 class="toust__title-text">
                                            DISKVALIFITSEERIVAD
                                            VEAD
                                        </h4>
                                    </div>
                                    <div class="toust__content">
                                        <p class="toust__content-text text--MS">
                                        <ul class="toust__list">
                                            <li class="toust__list-item text--MS">Agressiivsus või liigne argus</li>
                                            <li class="toust__list-item text--MS">Selgete füüsiliste või käitumuslike
                                                kõrvalekalletega koerad diskvalifitseeritakse.</li>
                                        </ul>
                                        </p>
                                        <span class="read__hide" data-readmore-identifier="readmore10">
                                            <div class="toust__content-wrap">
                                                <p class="toust__content-text text--MS">
                                                    NB! Isastel koertel peab olema kaks nähtavalt normaalselt arenenud
                                                    ja täielikult munandikotti laskunud munandit.
                                                </p>
                                            </div>
                                            <div class="toust__content-pictures">
                                                <div class="content-pictures">

                                                </div>
                                            </div>
                                        </span>
                                        <btn class="read readmore" id="readmore10">
                                            <svg class="toust__arrow">
                                                <use href="../assets/img/svg/symbol-defs.svg#icon-drop-down"></use>
                                            </svg>
                                        </btn>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
        </div>

    </section>
    <%- include('./incl/partners.html')%>
        <%- include('./incl/footer.html')%>