    <%- include('./incl/header.html')%>
        <section class="uhing">
            <div class="uhing-bcg ibg ibg--cover">
                <img src="../assets/img/uhing.jpg" alt="uhing">
            </div>
            <div class="def-container__info--mob">
                <h1 class="def-container__title text--XXXL">Ühing</h1>
                <p class="def-container__text">
                    Eesti Labradori Retriiverite Tõuühing (ELRÜ) ühendab isikuid, kelle tegevus või huvid on seotud
                    labradori
                    retriiveri
                    tõugu koertega.
                </p>
            </div>
        </section>
        <section class="def-container__wrap">
            <div class="def-container">
                <div class="def-container__info">
                    <h1 class="def-container__title text--XXXL">Ühing</h1>
                    <p class="def-container__text">
                        Eesti Labradori Retriiverite Tõuühing (ELRÜ) ühendab isikuid, kelle tegevus või huvid on seotud
                        labradori retriiveri
                        tõugu koertega.
                    </p>
                </div>
                <%- include('./incl/main-nav.html')%>
                <div id="info" data-current-id="uhing" data-main-menu-current-id="uhing-a"></div>
                <section class="uudised__wrap">
                    <div class="uudis__wrap">
                        <div class="dfcontent__item dfcontent__item--mob">
                            <div class="dfcontent__img ibg ibg--cover">
                                <img src="../assets/img/icons/uhing-man.png" alt="">
                            </div>
                            <div class="dfcontent__info">
                                <h2 class="dfcontent__info-title">Ühing</h2>
                                <p class="dfcontent__info-text">
                                    Ühing loodi 22.juunil 2014.a ning kanti mittetulundusühingute ja sihtasutuste registrisse
                                    13.augustil 2014.a.
                                </p>
                                <p class="dfcontent__info-text">
                                    Alates 14.augustist 2014.a on Eesti Labradori Retriiverite Tõuühing Eesti Kennelliidu liige.
                                </p>
                                <button class="dfcontent__info-btn dfcontent__info-btn--red">liitu meiega</button>
                            </div>
                        </div>
                        <div class="dfcontent__item">
                            <div class="dfcontent__descr">
                                <div class="descr__item">
                                    <div class="descr__content">
                                        <p class="descr__text">
                                            ELRÜ eesmärgiks on kaasa aidata labradori retriiveri tõugu koerte kasvatamisele,
                                            aretamisele ja pidamisele ning ühendada
                                            ja esindada labradori retriiveritega seotud isikuid. Ühing korraldab erinäitusi,
                                            retriiverite tõuomaseid katseid ja
                                            koolitusi ning muid üritusi.
                                        </p>
                                    </div>
                                    <div class="descr__content">
                                        <p class="descr__text">
                                            ELRÜ tegevusalad on põhikirja kohaselt:
                                        </p>
                                    </div>
                                    <div class="descr__content">
                                        <ul class="descr__list">
                                            <li class="descr__text">
                                                aretustöö ja tõuomaste katsete koordineerimine.
                                            </li>
                                            <li class="descr__text">
                                                pärilike haiguste statistika koostamine.
                                            </li>
                                            <li class="descr__text">
                                                labradori retriiveri tõugu koertega seonduva teabe kogumine ja levitamine oma
                                                liikmetele ja teistele
                                                huvilistele.
                                            </li>
                                            <li class="descr__text">
                                                näituste, võistluste, koolituste, testide, katsete ja muude ürituste
                                                korraldamine.
                                            </li>
                                            <li class="descr__text">
                                                kontaktide loomine ja hoidmine EKL-i ja teiste tõuühingutega ning
                                                väliskontaktide sõlmimine.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="dfcontent__info-btn dfcontent__info-btn--mob dfcontent__info-btn--red">Join us</button>
                                <div class="descr__item">
                                    <div class="descr__content">
                                        <p class="descr__text">
                                            <span class="descr__text--bold">Juhatus</span>
                                        </p>
                                    </div>
                                    <div class="descr__content">
                                        <p class="descr__text">
                                            ELRÜ juhatuse koosseis alates 30.06.2021.
                                        </p>
                                    </div>
                                    <div class="descr__content">
                                        <p class="descr__text">
                                            <span class="descr__text--bold">Natalja Stankevitš</span> - Juhatuse liige, juhatuse
                                            esinaine
                                        </p>
                                        <p class="descr__text">
                                            <span class="descr__text--bold">Maria Kappi</span> - Juhatuse liige, juhatuse
                                            aseesinaine, näituste ja aretuse
                                            koordineerija
                                        </p>
                                        <p class="descr__text">
                                            <span class="descr__text--bold">Jevgenia Kravtšenko</span> - Juhatuse liige
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            
        </section>
        <%- include('./incl/partners.html')%>
            <%- include('./incl/footer.html')%>