/* Vars:
  ========================================================================== */
//Def font vars
$primaryTextFont: Lato, sans-serif;
$secondaryTextFont: Poppins, sans-serif;

//Def font colors
$fontColorPrimary: #ffffff;
$fontColorPrimaryInv: #191817;
$fontColorDefault: #c4c4c4;
$fontColorActive: #f89f38;

//Def font sizes
$fontSize6XL_desktop: 100px;
$fontSize6XL_mobile: 68px;

$fontSizeXXXL_desktop: 60px;
$fontSizeXXXL_mobile: 32px;

$fontSizeXXL_desktop: 45px;
$fontSizeXXL_mobile: 32px;

$fontSizeXL_desktop: 40px;
$fontSizeXL_mobile: 28px;

$fontSizeL_desktop: 32px;
$fontSizeL_mobile: 24px;

$fontSizeM_desktop: 24px;
$fontSizeM_mobile: 16px;

$fontSizeMS_desktop: 20px;
$fontSizeMS_mobile: 16px;

$fontSizeS_desktop: 16px;
$fontSizeS_mobile: 12px;

$fontSizeXS_desktop: 14px;
$fontSizeXS_mobile: 10px;

// Font
$mainFont: Lato, sans-serif;
$secondFont: Poppins, sans-serif;

// Size
$mainFontColor: #ffffff;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$largeWidth: 1680px;
$desktopWidth: 1440px;
$smDesktopWidth: 1280px;
$tabletWidth: 992px;
$mediumWidth: 890px;
$smTabletWidth: 790px;
$phoneWidth: 576px;
$smPhoneWidth: 350px;

// Main color
$background-color: #3b3022;
$bacground-pages: #524a40;
$background-color-footer: #191817;
$active-color: #6f1d1b;
$default-color: #ffffff;
$private-color: #d9d9d9;

// Border Color
$border-base: #82828240;
